

	#logo{
    	
	}

	

	body{
		background-color: #f4f4f4;
		

	 
	}

	#total-pools{
		background-color: #4cb4c7;
	}
			
	#filling-up_pools{
		background-color: #7abecc;

	}

	#completed-pools{
		background-color: #7CD1C0;
	}




