

	#logo{
    	
	}

	

	body{
		background-color: #ebeff5;		
	 
	}




	#total-pools{
		background-color: #4cb4c7;
	}
			
	#filling-up_pools{
		background-color: #7abecc;

	}

	#completed-pools{
		background-color: #7CD1C0;
	}

	

 	.table{
 		color : blue;
 	}