{% extends 'co_servings/main.html' %}
{% load static %}
{% block content %}
<style type="text/css">
.button {

  margin: 4px 2px;
}

.button1 {border-radius: 2px;}
.button2 {border-radius: 4px;}
.button3 {border-radius: 8px;}
.button4 {border-radius: 12px;}
.button5 {border-radius: 50%;}


}



h6 {
    color:black;
  }


  h1 {
    color: black;

  }
 
  h4, h5, td {
    color: black;
  }
 


 


  
</style>





  <h1 style="color:red;">Building Types </h1>

  <hr>

  <h2 style="color:green;">Flex Building Model </h2>

  <hr>

 <br>

          <h3 style="color:green;">fbm-2</h3><h5 style="color:blue;"> "2-story building :"</h5> <h5>  4 duplexes/ cons.cost € 700.000 </h5>

          <img src="{% static 'images/building 5.PNG' %}"
            style="object-fit:contain;
            width:400px;
            height:300px;
            border: solid 3px #ccc"/>


                
                  <a href="{% url 'plan' %}">
                    
                    <button class="button button4">Plans</button>    

                  </a> 

                  
                    
               
             <br>

          <br>

          <hr>
          <br>

          <h3 style="color:green;">fbm-3</h3><h5 style="color:blue;"> "4-story building :"</h5> <h5>  8 duplexes/ cons.cost € 1.000.000 </h5>

          <img src="{% static 'images/building 4.PNG' %}"
            style="object-fit:contain;
            width:400px;
            height:300px;
            border: solid 3px #ccc"/>



                    <a href="{% url 'plan' %}">
                    
                      <button class="button button4">Plans</button>    

                    </a> 

                  
              

          <br>
          <br>
         

    <hr>
          

          <br>
          <br>
          <h3 style="color:green;">fbm-6</h3><h5 style="color:blue;"> "6-story building :"</h5> <h5>  12 duplexes/ cons.cost € 2.000.000 </h5>



          <img src="{% static 'images/building 3.PNG' %}"
            style="object-fit:contain;
            width:400px;
            height:300px;
            border: solid 3px #ccc"/>



                    
                <a href="{% url 'plan' %}">
                    
                  <button class="button button4">Plans</button>    

                </a> 

                
                
          <br>
          <br>

         

  
     <hr>
          <br>

          <h3 style="color:green;">fbm-10</h3><h5 style="color:blue;"> " fbm-3+fbm-6= 10-story development :"</h5> <h5>  20 duplexes/ cons.cost € 3.000.000 </h5>

          <img src="{% static 'images/building 6.PNG' %}"
            style="object-fit:contain;
            width:400px;
            height:300px;
            border: solid 3px #ccc"/>

               


                    <a href="{% url 'plan' %}">
                    
                      <button class="button button4">Plans</button>    

                    </a> 

                  
                   
               

          <br>
          <br>

      <hr>
          <br>

          <h3 style="color:green;">fbm-16</h3><h5 style="color:blue;"> "fbm-3+fbm-6+fbm-6= 16-story development :"</h5> <h5>  32 duplexes/ cons.cost € 5.000.000 </h5>

          <img src="{% static 'images/building 7.PNG' %}"
            style="object-fit:contain;
            width:400px;
            height:300px;
            border: solid 3px #ccc"/>

                
                    <a href="{% url 'plan' %}">
                    
                      <button class="button button4">Plans</button>    

                    </a> 

                  
                   
               

          <br>
          <br> 
          
  
         
{% endblock %}