{% extends 'co_servings/main.html' %}
{% load static %}
{% block content %}



  <h1 style="color:red;">Building Types </h1>

  <hr>



 
          <h3>fbm-6</h3><h5 style="color:blue;"> "basic module :"</h5> <h5>  12 duplexes/6-story/ € 2.000.000 </h5>

          <img src="{% static 'images/building 3.PNG' %}"
            style="object-fit:contain;
            width:400px;
            height:300px;
            border: solid 3px #ccc"/>
          <br>
          <br>
         
    <hr> 

          <br>

          <h3>fbm-3</h3><h5 style="color:blue;"> "1/2 module :"</h5> <h5>  6 duplexes/4-story/ € 1.000.000 </h5>

          <img src="{% static 'images/building 4.PNG' %}"
            style="object-fit:contain;
            width:400px;
            height:300px;
            border: solid 3px #ccc"/>
          <br>
          <br>
         

    <hr>
          <br>

          <h3>fbm-2</h3><h5 style="color:blue;"> "1/3 module :"</h5> <h5>  4 duplexes/2-story/ € 700.000 </h5>

          <img src="{% static 'images/building 5.PNG' %}"
            style="object-fit:contain;
            width:400px;
            height:300px;
            border: solid 3px #ccc"/>
          <br>
          <br>
     <hr>
          <br>

          <h3>fbm-10</h3><h5 style="color:blue;"> "1+1/2 module :"</h5> <h5>  18 duplexes/10-story/ € 3.000.000 </h5>

          <img src="{% static 'images/building 6.PNG' %}"
            style="object-fit:contain;
            width:400px;
            height:300px;
            border: solid 3px #ccc"/>
          <br>
          <br>

      <hr>
          <br>

          <h3>fbm-16</h3><h5 style="color:blue;"> "2+1/2 module :"</h5> <h5>  30 duplexes/16-story/ € 5.000.000 </h5>

          <img src="{% static 'images/building 7.PNG' %}"
            style="object-fit:contain;
            width:400px;
            height:300px;
            border: solid 3px #ccc"/>
          <br>
          <br>
         
         
{% endblock %}