{% extends 'co_servings/main.html' %}

{% load static %}



{% block content %}

<style type="text/css">
.button {

  margin: 4px 2px;
}

.button1 {border-radius: 2px;}
.button2 {border-radius: 4px;}
.button3 {border-radius: 8px;}
.button4 {border-radius: 12px;}
.button5 {border-radius: 50%;}


}



h6 {
    color:black;
  }


  h1 {
    color: black;

  }
 
  h4, h5, td {
    color: black;
  }
 


 


  
</style>


<div class="container" style="margin-top: -40px">
  <hr>

      <div class="row">

<div class="col" >
          <h3 style="color:green;">fbm-3:</h3><h5 style="color:blue;"> "4 story building :"</h5> <h5>  8 duplexes</h5>

          <img src="{% static 'images/building 4.PNG' %}"
            style="
            width:300px;
            height:200px;
            border: solid 3px #ccc"/>

          </div>
          
            <div class="col" style="margin-left: -50px" >
          <h3 style="color:green;">8 apts / 8 flex units </h3>
          <h6 style="color:brown;"><strong><u>"rent before co-serving reductions" :</u></strong></h6>
          <br>
          <h6 style="color:black;">2 Duplex A = € 800 pm</h6>
          <h6 style="color:black;">2 Duplex B = € 840 pm</h6>
          <h6 style="color:black;">2 Duplex C = € 880 pm</h6>
          <h6 style="color:black;">2 Duplex D = € 760 pm</h6>

          <br>

          <h6 style="color:brown;"><strong><u>"rent after co-serving reductions" :</u></strong></h6>
          <br>
          <h6 style="color:black;">2 Duplex A = € 400 pm</h6>
          <h6 style="color:black;">2 Duplex B = € 420 pm</h6>
          <h6 style="color:black;">2 Duplex C = € 440 pm</h6>
          <h6 style="color:black;">2 Duplex D = € 380 pm</h6>



        </div>

<div class="container">

 <div class="row">



  <div class="col" >

          <h5 style="color:blue; margin-top: 50px;"> "Entrance Level :"</h5> <h5>  4 flex units </h5>



          <img src="{% static 'images/entrance.PNG' %}"
            style="object-fit:contain;
            width:200px;
            height:300px;
            border: solid 3px #ccc"/>


        <br>
        <br>

      </div>

<div class="row">

      <div class="col">

        <br>
        <br>
        <br>


        <h5 style="color:blue; margin-left: -500px; margin-top: -20px;"> "Second Level :"</h5> <h5 style=" margin-left: -500px;">  8 apt units: 4 x 2 second levels </h5>



          <img src="{% static 'images/second.png' %}"
            style="object-fit:contain;
            width:200px;
            height:300px;
            border: solid 3px #ccc;
            margin-left: -500px;"/>


        <br>
        <br>

      </div>

  <div class="row">    

      <div class="col">

        <br>
        <br>
        <br>

        <h5 style="color:blue; margin-top: -20px; margin-left: -50px"> "First Level :"</h5> <h5 style=" margin-left: -50px;">  4 flex units </h5>
          
          

<img src="{% static 'images/first.PNG' %}"
            style="object-fit:contain;
            width:200px;
            height:300px;
            border: solid 3px #ccc;
           margin-left: -50px;"/>

           




</div>
</div>



 <br> 
  <br>


{% endblock %}