{% extends 'co_servings/main.html' %}

{% load static %}



{% block content %}
<style type="text/css">
.button {

  margin: 4px 2px;
}

.button1 {border-radius: 2px;}
.button2 {border-radius: 4px;}
.button3 {border-radius: 8px;}
.button4 {border-radius: 12px;}
.button5 {border-radius: 50%;}


}



h6 {
    color:black;
  }


  h1 {
    color: black;

  }
 
  h4, h5, td {
    color: black;
  }
 


 


  
</style>


				




<br>




<br>
<br>

<br>
<br>

<h5 style="color:black; margin-left: 180px; margin-top: -140px;"> <strong>Step-A</strong> : "Stakeholders Upload data to  ledgers : "Collateral", "Liquidity-Pool", "Project"</h5>
<hr>	


<br>



<div class="container">


		<div class="row">
	

	  		<div class="col">

	  	

	  			
	  				<a href="{% url 'white' %}">
                    
                  <button class="button button4" style="background-color:#795548; color:white; margin-left: 455px; padding-right: 10px;  margin-bottom: 30px;"> Step-B: S-Actions</button>    

                </a> 

	  		</div>

			
			


			<div class="col">

	  	

	  			
	  			
	  				<a href="{% url 'how' %}">
                    
                  <button class="button button4" style="background-color:#795548; color:white; margin-left: 450px; padding-right: 10px;  margin-bottom: 30px;">  Step-C: Blockchain </button>    

                </a> 

	  			
            </div>

       <div class="col">

	  	

	  			
	  				<a href="{% url 'payment1' %}">
                    
                  <button class="button button4" style="background-color:#795548; color:white; margin-left: 460px; padding-right: 10px;  margin-bottom: 30px;"> Step-D: Commit </button>    

                </a> 

	  		</div>

	  	</div>

	  </div>
<br>
<br>

<hr>

<br>



<br>


<h5 style="margin-left: 440px; color:gray; margin-top: -30px;"> Uploading procedures :</h5>

<br>

<div class="container"style="
            width:1000px;
            height:2900px;
            border: solid 10px #ccc;
            margin-left:70px;">

 <br>  
  <br>  


<h5 style="margin-left: 150px; margin-top: -30px; color:gray;"><strong> How to upload, in main menu <u>"Upload"</u> item, Collateral, Liquidity Pool, Project :</strong></h5>

<br>

 <img src="{% static 'images/colla.png' %}"
            style="
            width:90%;
            height:600px;
            border: solid 0px #ccc;
            margin-left: 60px;"/>



<img src="{% static 'images/liquido1.png' %}"
            style="
            width:90%;
            height:600px;
            border: solid 0px #ccc;
            margin-left: 40px;
            margin-top: -50px"/>


<img src="{% static 'images/progetto.png' %}"
            style="
            width:90%;
            height:600px;
            border: solid 0px #ccc;
            margin-left: 60px;
            margin-top: -100px"/>

<br>
<br>
<br>

<h5 style="margin-left: 250px; margin-top: -20px; color:gray;"><strong> How to upload Project's Design-Build data :</strong></h5>

<hr>

<p style="color:blue;"><strong>Property owners upload  Design-Build data in <u>Home Page Tenants' button:</u></strong></p>

<br>		
	

<p style="color:blue; margin-top: -20px;">°Design-Build project data selected in <u> main menu </u> <strong><em><u style="color:brown;">catalogue</u></em></strong></p>

<p style="color:blue; margin-top: -20px;">°Development Rendering</p>
<p style="color:blue; margin-top: -20px;">°Development apartments list</p>
<p style="color:blue; margin-top: -20px;">°Development temporary spaces list</p>
	

	<br>
    <br>
<br>

  <h5 style="margin-left: 250px; margin-top: -30px; color:gray;"><strong> How Tenant Selects Apartment </strong></h5>

<hr>

 <img src="{% static 'images/book.png' %}"
            style="
            width:90%;
            height:600px;
            border: solid 0px #ccc;
            margin-left: 100px;"/>

	<br>

{% endblock %}
