{% extends 'co_servings/main.html' %}

{% block content %}
	{% load static %}



		
<h5 style="color:orange;">PROJECT NAME:</h5>

<br>


			
			

	<div class="container">
	<hr>

	  	<div class="row">

	  		<div class="col">

				
			   	<h5 style="color:red;">Location:</h5>
			   	<br>
			  
			   	{% for i in value %}
			   	<tr>
					<td>{{i.location}}</td>
				</tr>
				<br>
				<br>
				<hr>
				{% endfor %}
			</div>

			


			<div class="col">
			   	<h5>Category:</h5>
			   	<br>
			   
			   	{% for i in value %}
				<tr>
					<td>{{i.category}}</td>
				</tr>
				<br>
				<br>
				<hr>
				{% endfor %}
			</div>

			

			<div class="col">
			   	<h5 style="color:red;">pLP if func:</h5>
			   	<br>
			   
			   	{% for i in topic %} 

				<tr>
					<td>{{i.name}}</td>
				</tr>
				<br>
				<br>
				<hr>

				{% endfor %}

			</div>

			

			<div class="col">
			   	<h5>Property:</h5>
			   	<br>

			   	<img src="{% static 'images/plot1.PNG' %}" style="margin: 0px;">
			   	<br>
			   	<br>
			   	<br>
			   	<img src="{% static 'images/plot1.PNG' %}" style="margin-top: -10px;">
			 
			   	<br>
			   	<br>
			   	<img src="{% static 'images/plot1.PNG' %}" style="margin-top: 10px;">
			   	<br>
			   	<br>
			   	<br>
			   	<img src="{% static 'images/plot1.PNG' %}" style="margin-top: -10px;">
		
			   	<br>
			   	<br>
			   	<img src="{% static 'images/plot1.PNG' %}" style="margin-top: 15px;">
			   	<br>
			   	
			</div>

			<div class="col">
			   	<h5>Unit:</h5>
			   	<br>

			  	<img src="{% static 'images/building.PNG' %}" style="margin: 0px;"> 
			  	<br>
			  	<br>
			   	<br>
			   	<img src="{% static 'images/building.PNG' %}" style="margin-top: -10px;">
			  
			   	<br>
			   	<br>
			   	<img src="{% static 'images/building.PNG' %}" style="margin-top: 10px;">
			   	<br>
			  	<br>
			   	<br>
			   	<img src="{% static 'images/building.PNG' %}" style="margin-top: -10px;">

			  	<br>
			   	<br>
			   	<img src="{% static 'images/building.PNG' %}" style="margin-top: 15px;">
			</div>

			<div class="col">
			   	<h5>Project:</h5>
			   	<br>

			   <h5 style="color:green;">fbm-6</h5>
			   <br> 
			   <br>
			 
			   <h5 style="color:green;">fbm-16</h5>

			   <br> 
			   <br>
			 
			   <h5 style="color:green;">fbm-10</h5>

			   <br> 
			   <br>
			 
			   <h5 style="color:green;">fbm-3</h5>

			   <br> 
			   <br>
			 
			   <h5 style="color:green;">fbm-2</h5>
			</div>

			<div class="col">
			   	<h5 style="color:green;">PROJ.COST:</h5>
			   	<br>
			   
			   	{% for i in value %}
				<tr>
					<td>{{i.total_project_price}}</td>
				</tr>
				<br>
				<br>
				<hr>
				{% endfor %}
			</div>


	   	</div>
	<hr>
	</div>


	<br />
	<br />


	 <br />
	 <br />
	 <br />





{% endblock content %}

