{% extends 'co_servings/main.html' %}

{% load static %}



{% block content %}
<style type="text/css">
.button {

  margin: 4px 2px;
}

.button1 {border-radius: 2px;}
.button2 {border-radius: 4px;}
.button3 {border-radius: 8px;}
.button4 {border-radius: 12px;}
.button5 {border-radius: 50%;}


}



h6 {
    color:black;
  }


  h1 {
    color: black;

  }
 
  h4, h5, td {
    color: black;
  }
 


 


  
</style>


				




<br>




<br>
<br>

<br>
<br>

<h5 style="color:black; margin-left: 180px; margin-top: -140px;"> <strong>Step-A</strong> : "Stakeholders Upload data to  ledgers : "Collateral", "Liquidity-Pool", "Project"</h5>
<hr>	


<br>



<div class="container">


		<div class="row">
	

	  		<div class="col">

	  	

	  			
	  				<a href="{% url 'white' %}">
                    
                  <button class="button button4" style="background-color:#795548; color:white; margin-left: 455px; padding-right: 10px;  margin-bottom: 30px;"> Step-B: S-Actions</button>    

                </a> 

	  		</div>

			
			


			<div class="col">

	  	

	  			
	  			
	  				<a href="{% url 'how' %}">
                    
                  <button class="button button4" style="background-color:#795548; color:white; margin-left: 450px; padding-right: 10px;  margin-bottom: 30px;">  Step-C: Blockchain </button>    

                </a> 

	  			
            </div>

       <div class="col">

	  	

	  			
	  				<a href="{% url 'payment1' %}">
                    
                  <button class="button button4" style="background-color:#795548; color:white; margin-left: 460px; padding-right: 10px;  margin-bottom: 30px;"> Step-D: Commit </button>    

                </a> 

	  		</div>

	  	</div>

	  </div>
<br>
<br>

<hr>

<br>



<br>


<h5 style="margin-left: 440px; color:gray; margin-top: -30px;"> Uploading procedures :</h5>

<br>

<div class="container"style="
            width:1000px;
            height:1900px;
            border: solid 10px #ccc;
            margin-left:70px;">

 <br>           

<br>

<h5 style="margin-left: 290px; margin-top: -30px; color:gray;"><strong> Co-Serving Country prefix numbers :</strong></h5>

<hr>

<div class="container">
	

	  	<div class="row">


	  		<div class="col">

				<h6 style="color:blue;">  1-ITALY</h6>
				<hr>
				

				
			</div>

	  		<div class="col">

				<h6 style="color:blue;">2-GERMANY</h6>
				<hr>
				
				
				
			</div>

			

			<div class="col">

				<h6 style="color:blue;"> 3-FRANCE</h6>
				<hr>
				
			
			</div>

			<div class="col">

				<h6 style="color:blue ;margin-left:40px; ">4-SPAIN</h6>
				<hr>
			
			

				
			</div>
			
			

			<div class="col">

				<h6 style="color:blue;">5-USA</h6>
				<hr>
				

			

				
			</div>

<br>

<br>
<br>
<br>

<h5 style="margin-left: 350px; margin-top: -30px; color:gray;"><strong> How to upload Project :</strong></h5>

<hr>
			
		</div>

	</div>


	<br>
	<br>

{% endblock %}
