{% extends 'co_servings/main.html' %}

{% load static %}



{% block content %}

<style type="text/css">
.button {

  margin: 4px 2px;
}

.button1 {border-radius: 2px;}
.button2 {border-radius: 4px;}
.button3 {border-radius: 8px;}
.button4 {border-radius: 12px;}
.button5 {border-radius: 50%;}


}



h6 {
    color:black;
  }


  h1 {
    color: black;

  }
 
  h4, h5, td {
    color: black;
  }
 


 


  
</style>


<div class="container" style="background-color:#bcaaa4; margin-top: -200px;">


<h5 style="margin-left: 30px; margin-top: 160px; color:#1f6551; padding-top: 30px;"><strong><u>Governments/Investors data:</u></strong> Government funds garantee Investors' capital for developments</u></strong></h5>

<br>

<div class="container">

      <h5 style="margin-left: 30px; color: #1f6551;">* Governments/Investors regitration.</h5> 
     <h5 style="margin-left: 30px; color: #1f6551;">*  Governments  upload in  main menu <strong>Uploads: " Add-Collateral" </strong> financial data
      <h5 style="margin-left: 30px; color: #1f6551;">* Investors  upload in  main menu <strong>Uploads: " Add-Liquidity Pool" </strong> financial data
   
    
   
  	  <h5 style="margin-left: 30px; color: #1f6551;">* Governments and Investors   check data in "Collaterals" and "Liquidity Pools" main menu.</h5>

      
<br>
        
</div>
</div>
         <div class="container" style="margin-left: : 100px; margin-bottom: -60px;" >
  
         	<a href="{% url 'trading' %}">
                    
                  <button class="button button4" style="background-color:lightblue; color:black; margin-left: 280px; padding: 40px; margin-top: 40px;font-size: x-large;"><strong><em>Governments/Investors</em></strong> Commitment</button>   
                </a> 
   				
                
</div> 



<br>
<br>
<br>
<br>
<br>
<br>

{% endblock %}