{% extends 'co_servings/main.html' %}

{% load static %}



{% block content %}

<style type="text/css">
.button {

  margin: 4px 2px;
}

.button1 {border-radius: 2px;}
.button2 {border-radius: 4px;}
.button3 {border-radius: 8px;}
.button4 {border-radius: 12px;}
.button5 {border-radius: 50%;}


}



h6 {
    color:black;
  }


  h1 {
    color: black;

  }
 
  h4, h5, td {
    color: black;
  }
 


 


  
</style>

<h2 style="margin-left: 360px; margin-top: -40px; "><strong>Blockchain Vision:</strong> </h2>



<hr>

<h5 style="color:blue; margin-left: 150px;">" To solve the top five problems facing stakeholders of real estate developments:"</h5>
      
     <br> 

  <div class="container">
  

      <div class="row">


        <div class="col">

        <h6 style="color:blue;">  1-GOVERNMENTS:</h6>
        <hr>
        <p style="color:darkred;"><em> Social Inequality </em>
        

        
      </div>

        <div class="col">

        <h6 style="color:blue;">2-INVESTORS:</h6>
        <hr>
        <p style="color:darkred;margin-left:-10Px"><em> Due Diligence Time </em>
        
        
      </div>

      

      <div class="col">

        <h6 style="color:blue;"> 3-PROPERTY OWNERS:</h6>
        <hr>
        <p style="color:darkred;"><em>Actual Purchasing Power</em></p>
      
      </div>

      <div class="col">

        <h6 style="color:blue ;margin-left:40px; ">4-TENANTS:</h6>
        <hr>
        <p style="color:darkred; margin-left:20px;"><em> Rent Stabilization </em></p>

      

        
      </div>
      
      

      <div class="col">

        <h6 style="color:blue;">5-GUESTS:</h6>
        <hr>
        <p style="color:darkred; margin-left:-40px"><em> Collaborative Consumption.</em></p>

      

        
      </div>


      
    </div>

  </div>



<br>
<hr>

<br>
<br>
         
<h2 style="margin-left: 450px; margin-top: -40px; "><strong>How:</strong></h2>



<hr>

<h5 style="color:blue; margin-left: 0px;">"Using  Blockchain Technology Network to implement an equitable distribution of profits by having each of the actors substitute a portion of their personal I/ME behavior in exchange for a portion of their social I/WE behavior:"</h5>
<p style="color:darkred;"><strong>Governments</strong> provide funds as collateral to sustain impact investment (considered investment at higher risk than other forms), to fight <u style="color:darkred;">Social Inequality.</u></p>
<p style="color:darkred;"><strong>Investors</strong> limit their max return  to 10% of their impact investment, to take advantage of the reduced <u style="color:darkred;"> Due Diligence Time.</u></p>
<p style="color:darkred;"><strong>Property Owners</strong> extend their involvement in project development, using the Design-Build construction method, to maximize their property profit to the <u style="color:darkred;">Actual Purchasing Power</u> of  property users.</u></p>
<p style="color:darkred;"><strong>Tenants</strong> participate in the management of the property, in exchange of <u style="color:darkred;">Rent Stabilization</u></p>
<p style="color:darkred;"><strong>Guests</strong> through direct interaction with other consumers(tenants),obtain temporarily valuable resources and services as a result of <u style="color:darkred;">Collaborative consumption</u></p>
      
<hr>

 


<br>
<br>

 <div class="col">

        <h2 style="color:red; margin-left: 440px;"><strong>Q&A:</strong></h2>
        <hr>
        
      

        
      </div>
<br>
<br>

<div class="container"style="
            width:1000px;
            height:1900px;
            border: solid 10px #ccc;
            margin-left:70px;">


    <div class="row">
  

        <div class="col">

           <h6> <strong><u style="color:red;">Why using Blockchain Network(W3) instead of W2 app ? </u>
</strong> </h6>


<p><strong>Decentralization:</strong> With WEB.3, Co-Serving data generated by  different and increasingly powerful compiuting resources, including mobile phones, desktopes, appliences, vehicles and sensors, will be sold by users through decentralized data networks,ensuring that users retain ownership control.</p>
<p><strong>Trustless and permissionless:</strong> In addition to decentralization and being based upon open source software, Web 3 will also be trustless (i.e., the network will allow participants to interact directly without going through a trusted intermediary) and permissionless (meaning that anyone can participate without authorization from a governing body). As a result, Web 3 applications will run on blockchains or decentralized peer-to-peer networks, or a combination thereof—such decentralized apps are referred to as dApps.</p>
<p><strong>Artificial intelligence (AI) and machine learning:</strong> In Web 3, Co-Serving will be able to use  data and algorithms to create rel estate developments, gradually improving its performances. These capabilities will enable computers to produce faster and more relevant results in  real estate impact developments.
<p><strong>Connectivity and ubiquity:</strong> With Web 3, Co-Serving information and content are more connected and ubiquitous, accessed by multiple applications and with an increasing number of everyday devices connected to the web.</p>
<p><strong>Decentralized Finance (DeFi):</strong> Decentralized finance eliminates intermediaries by allowing governments,investors, property oners, tenants and guests to conduct financial transactions through  peer-to-peer financial networks that use Smart Contracts  in Ethereum security protocols. From anywhere you have an internet connection, you can  verify financial actions in distributed financial databases. A distributed database is accessible across various locations; it collects and aggregates data from all users and uses a <u>consensus mechanism </U> to verify it. Decentralized finance uses this technology to eliminate centralized finance models by enabling anyone to use financial services anywhere regardless of who or where they are. DeFi applications give users more control over their money through personal wallets and trading services that cater to individuals.</u></p>


       <h6> <strong><u style="color:red;">How Governments transfer funds to collateralize  investors' Liquidity Pool:</u>
</strong> </h6>


        <h6><em>First:</em></h6>

<p style="margin-top:-10px; "> Fiat exchange in FBM(TIPI) crypto in  Metamask wallet, using the decentralized exchange platform PancakeSwap, connected directly through the main menu C/D DeFi, item Transfers  .</p>




       <h6><em>Second:</em></h6>
<p style="margin-top:-10px; "> Transfering from Metamask wallet FBM in Liquidity Pool FBM/ETH using PancakeSwap decentralized exchange platform, connected directly through the main menu C/D DeFi, item Transfers  .</p>


 <h6> <strong><u style="color:red;">How Investors transfer funds to create Liquidity Pool:</u>
</strong> </h6>


        <h6><em>First:</em></h6>

<p style="margin-top:-10px; ">Fiat exchange in ETH crypto in  Metamask wallet, using the decentralized exchange platform PancakeSwap, connected directly through the main menu C/D DeFi, item Transfers  .</p>




       <h6><em>Second:</em></h6>
<p style="margin-top:-10px; "> Transfering from Metamask wallet ETH in Liquidity Pool FBM/ETH using PancakeSwap decentralized exchange platform, connected directly through the main menu C/D DeFi, item Transfers   .</p>

            
  <h6> <strong><u style="color:red;">How Property Owners borrow and return capital to create Development:</u>
</strong> </h6>


        <h6><em>First:</em></h6>

<p style="margin-top:-10px; ">Borrow capital from Liquidity Pool using AAVE a Non Custodial Liquidity Market, connected directly through the main menu C/D DeFi, item Transfers  .</p>




       <h6><em>Second:</em></h6>
<p style="margin-top:-10px; "> Return capital to Liquidity Pool using AAVE a Non Custodial Liquidity Market, connected directly through the main menu C/D DeFi, item Transfers    .</p>
          
          <h6><em>Third:</em></h6>
<p style="margin-top:-10px; "> Return 10% Fiat interest to Investors in Metamask wallet  using PancakeSwap decentralized exchange platform, connected directly through the main menu C/D DeFi, item Transfers    .</p>  

<h6><em>Fourth:</em></h6>
<p style="margin-top:-10px; "> Return profit after interest and principal to Governments  in Metamask wallet  using PancakeSwap decentralized exchange platform, connected directly through the main menu C/D DeFi, item Transfers .</p> 

<h6> <strong><u style="color:red;">How Governments distribute FBM tokens to Co-Serving organization, Propoerty Owners and Tenants :</u>
</strong> </h6>

<p style="margin-top:0px; ">Send FBM tokens from its Metamask wallet, to Co-Serving organization, Propoerty Owners and Tenants wallets,  using PancakeSwap decentralized exchange platform, connected directly through the main menu C/D DeFi, item Transfers  .</p>

           
  <h6> <strong><u style="color:red;">How Tenants pay rent:</u></strong> </h6>

<p style="margin-top:0px; ">Send Fiat funds to Property Owners Fiat accounts   using Traditional Banking system, connected directly through the main menu C/D DeFi, item Payments  .</p>

<h6> <strong><u style="color:red;">How Guests pay fee:</u></strong> </h6>

<p style="margin-top:0px; ">Send Fiat funds to Property Owners Fiat accounts   using Traditional Banking system, connected directly through the main menu C/D DeFi, item Payments  .</p>



    </div>
</div>

  
<br>
<br>
<br>
<br>

{% endblock %}