{% extends 'co_servings/main.html' %}
{% load static %}


{% block content %}
<style type="text/css">



h5 {
    color: black;
  }


	h1, h6 {
		color: black;
	}
 
	h4, h5, td {
		color: black;
	}


	
</style>



<body class="bg-image"
    style="background-image: url('/static/images/marco2.jpg');
    background-repeat: no-repeat;
    background-size:100%;
    color:darkgrey;
    height:550px;">



	<div class="container">
			<h1 style="margin-top:100px">Welcome to the world’s</h1>
				<h1 style="margin-left: 250px">most transparent</h1>
					<h4 style="margin-left: 430px">online </h4>											
					   <h1 style="margin-left: 500px"> Real Estate booking program</h1>			
 	</div>



<br>
<br>
<br>
<br>




<h6 style="margin-left: 0px; color:blue">Guests' navigation bar</h6>

{% load static %}



<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">

      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Home</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Qualifications
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'white' %}">Informations</a>
          <a class="dropdown-item" href="{% url 'how' %}">Guest Rules</a>
          <a class="dropdown-item" href="{% url 'how' %}">Vaccine Protocol</a>
          
        </div>

      </li>
      

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      
        Benefits
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="{% url 'buildings' %}">Cost-Transparency</a>
        <a class="dropdown-item" href="{% url 'stand' %}">Token program</a>
        
        </div>
      </li>

     
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

        Downloads
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'venue' %}">Short Term Contracts</a>
          <a class="dropdown-item" href="{% url 'liquidity' %}">Smart Contract</a>
          
        </div>
      </li> 



     
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'projects' %}">Guest Opportunities</a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="{% url 'liquiditypools' %}">Our Community</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

      Guest's Booking
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'development' %}">Reservation</a>
          <a class="dropdown-item" href="{% url 'rental' %}">Payment</a>
        </div>
      </li>

     


      
      {% if user.is_authenticated %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
      </li>
      {% else %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'register_user' %}">Register</a>
      </li>

       <li class="nav-item active">
        <a class="nav-link" href="{% url 'login' %}">Login</a>
      </li>
      {% endif %}
      
    </ul>

  </div>
</nav>

<br>
<br>
<br>
<br>

</body>



{% endblock %}