{% extends 'co_servings/main.html' %}
{% load static %}


{% block content %}
<style type="text/css">

   <style type="text/css">
.button {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

.button1 {border-radius: 2px;}
.button2 {border-radius: 4px;}
.button3 {border-radius: 8px;}
.button4 {border-radius: 12px;}
.button5 {border-radius: 50%;}


}




h5 {
    color: black;
  }


	h1, h6 {
		color: black;
	}
 
	h4, h5, td {
		color: black;
	}


	
</style>



<body class="bg-image"
    style="background-image: url('/static/images/marco2.jpg');
    background-repeat: no-repeat;
    background-size:100%;
    color:darkgrey;
    height:550px;">



	<div class="container">
			<h1 style="margin-top:100px">Welcome to the world’s</h1>
				<h1 style="margin-left: 250px">most transparent</h1>
					<h4 style="margin-left: 430px">online </h4>											
					   <h1 style="margin-left: 500px"> Real Estate booking program</h1>			
 	</div>



<br>
<br>
<br>
<br>




<h6 style="margin-left: 0px; color:blue">Guests' navigation bar</h6>

{% load static %}





<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">

       <a href="{% url 'guest' %}">
                    
                  <button class="button button4" style="color:blue">Guests</button>    

                </a> 

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Qualifications
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'information2' %}">Membership</a>
          <a class="dropdown-item" href="{% url 'guestrules' %}">Guest Rules</a>
          <a class="dropdown-item" href="{% url 'vaccineprotocol2' %}">Vaccine Protocol</a>
          
        </div>

      </li>
      

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      
        Benefits
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="{% url 'costtrasparency' %}">Cost-Transparency</a>
        <a class="dropdown-item" href="{% url 'tokenprogram2' %}">Token program</a>
        
        </div>
      </li>

     
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

        Downloads
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'venue' %}">Short Term Contracts</a>
          <a class="dropdown-item" href="{% url 'liquidity' %}">Smart Contract</a>
          
        </div>
      </li> 



     
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'guestopportunity' %}">5-Guest Opportunities</a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="{% url 'ourcommunity2' %}">Our Community</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

      Guest's Booking
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'reservation' %}">Reservation</a>
          <a class="dropdown-item" href="{% url 'payment2' %}">Payment</a>
        </div>
      </li>

     


      
      {% if user.is_authenticated %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
      </li>
      {% else %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'register_user' %}">Register</a>
      </li>

       <li class="nav-item active">
        <a class="nav-link" href="{% url 'login' %}">Login</a>
      </li>
      {% endif %}
      
    </ul>

  </div>
</nav>

<br>
<br>
<br>
<br>




{% endblock %}

</body>