{% extends 'co_servings/main.html' %}

{% load static %}



{% block content %}





<style type="text/css">
.button {

  margin: 4px 2px;
}

.button1 {border-radius: 2px;}
.button2 {border-radius: 4px;}
.button3 {border-radius: 8px;}
.button4 {border-radius: 12px;}
.button5 {border-radius: 50%;}


}



h6 {
    color:black;
  }


	h1 {
		color: black;
	}
 
	h4, h5, td {
		color: black;
	}


	
</style>




<body class="bg-image"
		style="background-image: url('/static/images/marco.jpg.jpg');
		background-repeat: no-repeat;
		background-size:40%;
		color:darkgrey;
		height:550px;


		">

<br>
		
			 		<h4 style="margin-left: 450px ;margin-top: 25px; margin-top: -20px;"><strong> Co-Serving Platform  is a Real Estate  DeFi of inclusion.</h4> <h6 style="margin-left: 450px; color:red; margin-top: 10px; "> A DAE ( Decentralized Autonomous Enterprise ) that makes the economy work best because it works for everyone:</h6> <br><h4 style="margin-left: 450px ;margin-top: 25px; margin-top: -20px;"><strong>Government, Investors, Property Owners, Tenants. </strong></h4> 
			 		<br>  
			 		<br> 
					
				
					
			 		<div class="container" style="margin-left: 250px" >

	
			

							

	
     	
			
		
							

<br>
<br>
<br>
						


<br>
<br>
<br>




   <div class="container" style="margin-left: : 100px" >
  

   				<a href="{% url 'token' %}">
                    
                  <button class="button button4" style="background-color:darkgreen; color:white; margin-left: 150px;"><strong><em>Tenant</em></strong>  click here  to find the apartment you deserve</button>    

                </a> 

                <a href="{% url 'guest' %}">
                    
                  <button class="button button4" style="background-color:blue; color:white;  margin-left: 20px;"><strong><em>Guest</em></strong> click here  for your best accommodation in town</button>    

                </a> 

                <a href="{% url 'trading' %}">
                    
                  <button class="button button4" style="background-color:black; color:black; margin-left: 350px;"><strong><em>Real Estate Exchange</em></strong> click here  to projects trading desk

                </a> 
</div>
<br>



<br>
<br>
<br>
<br>
<br>
<br>
   <h6 style="color:black; margin-left: 150px;"> <strong>Co-Serving Real Estate Platform  reduces the cost of projects for the inhabitants by more than 35%, without cutting investors' profits.</strong> Co-Serving uses Smart Contracts and its own ERC20 token: FBMtoken (TIPI) </h6>

   <a href="{% url 'fbm' %}"> 
   	<button class="button button4" style="background-color:darkblue; color:white; margin-left: 150px;">  Click here for FBMtoken (TIPI)</button>
   	</a>
         

 
 
  







{% endblock %}
</body>
