{% extends 'co_servings/main.html' %}

{% block content %}

<br>
		<div class="row">
			<div class="col-md">
		
				<div class="card card-body">
			 		<h3>About Co-serving: UNDER DEVELOPMENT BY MCA for more info tel: +49 171 8376015</h3>
				</div>
				<div class="card card-body">
			
					<table class="table table-5m">
						<tr>
							<th>Real Estate Platform connected to  web 3 internet</th>
							
						</tr>

				</div>
					
					</table>

			</div>

		</div>

		</div>

<table width="1200">
	<tr>
		<td width="400" height="40">...A Real Estate Platform  that uses Smart Contracts</td>
	</tr>

	<tr>
		<td width="400" height="40">...No Banking bureaucracy: Peer to Peer network</td>
	</tr>

	<tr>
		<td width="400" height="40">...For Investors,  Property Owners, Tenanats</td>
	</tr>

	<tr>
		<td width="400" height="40">...Business Model based on fair profit's distribution</td> 
	</tr>



</table>

<div class="card card-body">
	
		<h5>A token represents the identity of the co-serving's blockchain</h5>
</div>


{% endblock %}

