{% extends 'co_servings/main.html' %}

{% load static %}



{% block content %}




<div class="container">
	

	  	<div class="row">

	  		<div class="col">

	  	

	  			<h1 style="color:blue;">Step 1</h1><h3 style="color:blue;"> for Investors (LP):</h3> 
	  			<h3>Deposit Funds to create pLP using   dropdown Downloads-item : "Add-Liquidity"</h3>
	  			<hr>
	  			<h3 style="color:blue;"> for Property Owners:</h3> 
	  			<h3>Create Project using  dropdown Downloads-item : "Add-Projects"</h3>
	  			<hr>
			
	  			<img src="{% static 'images/view1.PNG' %}">
				<hr>
			</div>


			<div class="col">


	  			<h1 style="color:blue;">Step 2:</h1><h3 style="color:blue;"> for Investors and Property Owners:</h3> 
	  			<h3>A Development Project  is automatically calculated  according to  Projects and Liquididy-Pools tables using dropdown Activities-item: "Development"</h3>
	  			<hr>
			
	  			<img src="{% static 'images/view2.PNG' %}">
	  			<hr>
			</div>

	
	

			<div class="col">

	  			<h1 style="color:blue;">Step 3:</h1><h3 style="color:blue;"> for Investors and Customers:</h3> 
	  			<h3>The  Project financial activity  is promoted and managed automatically using dropdown Activities/Rental/ items:"Booking-Payment-Financial Overview"</h3>
	  			<hr>
	  			<img src="{% static 'images/view3.PNG' %}">
				<hr>
			</div>


			<div class="col">

	  			<h1 style="color:blue;">Step 4:</h1><h3 style="color:blue;"> for Co-Serving users:</h3> 
	  			<h3>The Token Incentive Program   is managed automatically using dropdown Activities/Rental/item:"Consierge"</h3>
	  			<hr>
				<img src="{% static 'images/view4.PNG' %}">
				<hr>
			</div>


		</div>
</div>




{% endblock %}
