{% extends 'co_servings/main.html' %}

{% load static %}



{% block content %}

<style type="text/css">
.button {

  margin: 4px 2px;
}

.button1 {border-radius: 2px;}
.button2 {border-radius: 4px;}
.button3 {border-radius: 8px;}
.button4 {border-radius: 12px;}
.button5 {border-radius: 50%;}


}



h6 {
    color:black;
  }


  h1 {
    color: black;

  }
 
  h4, h5, td {
    color: black;
  }
 


 


  
</style>




<br>


<div class="container">

	<div class="col">

				

				<h5 style="color:black; margin-left: 0px; margin-top: -50px;"><strong>Step-C :</strong> To Deploy  S-Actions  in Ethereum Blockchain network, stakeholders need to code, convalidate and register  HYBRID SMART CONTRACTS:</h5> 
	  			
	  			<hr>
	  		
			</div>
 
	<div class="container">
	

	  	<div class="row">


	  		<div class="col">

				<h5 style="color:blue;">  GOVERNMENTS:</h5>
				<hr>
				<h4>  <u style="color:darkblue;">  hybrid smart contracts</u> to provide collateral to Liquidity Pool 
	  			 </h4> </em>
				

				
			</div>

	  		<div class="col">

				<h5 style="color:blue;">INVESTORS:</h5>
				<hr>
				<h4>  <u style="color:darkblue;">  hybrid smart contracts </u> to provide  capital to Liquidity Pool
	  			
	  			</h4>  
				
				
			</div>

			

			<div class="col">

				<h5 style="color:blue;"> PROPERTY OWNERS:</h5>
				<hr>
				<h4>  <u style="color:darkblue;"> hybrid smart contracts</u> to borrow construction capital from Liquidity Pool   </h4>
			
			</div>

			<div class="col">

				<h5 style="color:blue;">TENANTS/GUESTS:</h5>
				<hr>
				<h4> <u style="color:darkblue;"> hybrid smart contractsc</u> to rent apartments  financed by Liquidity Pool and to sublet flex rooms to Guests. </h4>

			
				
			</div>
			
	
			<br>

			
			

		

	
			


		</div>
</div>

<br>
<br>

<a href="{% url 'development1' %}">
                    
                  <button class="button button4" style="background-color:#795548; color:white; margin-left: 435px; padding-right: 10px;  margin-bottom: 30px;"> Step-A Uploads</button> 

<br>

<a href="{% url 'white' %}">
                    
                  <button class="button button4" style="background-color:#795548; color:white; margin-left: 430px; padding-right: 10px;  margin-bottom: 30px;"> Step-B S-Actions</button> 




<br>

 

	  	

	  			
	  				<a href="{% url 'payment1' %}">
                    
                  <button class="button button4" style="background-color:#795548; color:white; margin-left: 435px; padding-right: 10px;  margin-bottom: 30px;"> Step-D: Commit </button>    

                </a> 

	  	


{% endblock %}
