{% extends 'co_servings/main.html' %}

{% load static %}



{% block content %}






<div class="container">

	<div class="col">

				<h3 style="color:blue; margin-left: 350px"> LIQUIDITY POOL</h3> 
	  			
	  			<hr>
			
	  		
			</div>
 
	

	  	<div class="row">


	  		<div class="col">


	  			<h2 style="color:grey;">Alfa</h2>
	  			<h4> Governament provides collateral to Liquidity Pool in exchange of LP TOKENS
	  			 </h4>
	  			
	  		
	 
			
	  			
			</div>

	  			


	  		<div class="col">

	  	

	  			<h2 style="color:grey;">Beta</h2>
	  			<h4>Investors'funds get diveded 50% BNB/or other selected crypto, 50% TIPI (FBMtoken).
	  			
	  			</h4>  
	  			
	  			<br>
	  		
	  			
	  			
	  			
			
	  			
			</div>


			

	
	

			<div class="col">

	  			<h2 style="color:grey;">Gamma</h2>
	  			<h4>Project owners borrow construction capital on DEFI platform Compound or AAVE </h4>
	  			
	  			<br>
	  		
	  			
			</div>

			<div class="col">

	  			<h2 style="color:grey;">Delta</h2>
	  			<h4>Loan back to liquidity pool</h4>
	  			<h4>at 6.5% interest compound</h4>
	  			<br>
	  		
	  			
			</div>


			


		</div>
</div>




{% endblock %}
