{% extends 'co_servings/main.html' %}

{% load static %}



{% block content %}
<style type="text/css">
.button {

  margin: 4px 2px;
}

.button1 {border-radius: 2px;}
.button2 {border-radius: 4px;}
.button3 {border-radius: 8px;}
.button4 {border-radius: 12px;}
.button5 {border-radius: 50%;}


}



h6 {
    color:black;
  }


  h1 {
    color: black;

  }
 
  h4, h5, td {
    color: black;
  }
 


 


  
</style>

<h2 style="margin-left: 340px; margin-top: -40px; "><strong>What  Co-Serving does:</strong></h2>



<hr>

<h5 style="color:blue; margin-left: -100px;">"It combines web technology with urban planning to solve the top five problems facing stakeholders of real estate developments:"</h5>
      
      

  <div class="container">
  

      <div class="row">


        <div class="col">

        <h6 style="color:blue;">  1-GOVERNMENTS:</h6>
        <hr>
        <p style="color:darkred;"><em> Social Inequality </em>
        

        
      </div>

        <div class="col">

        <h6 style="color:blue;">2-INVESTORS:</h6>
        <hr>
        <p style="color:darkred;margin-left:-30Px"><em> Real estate market volatility </em>
        
        
      </div>

      

      <div class="col">

        <h6 style="color:blue;"> 3-PROPERTY OWNERS:</h6>
        <hr>
        <p style="color:darkred;"><em>Effective purchasing power</em></p>
      
      </div>

      <div class="col">

        <h6 style="color:blue ;margin-left:40px; ">4-TENANTS:</h6>
        <hr>
        <p style="color:darkred; margin-left:40px;"><em> Rent controll .</em></p>

      

        
      </div>
      
      

      <div class="col">

        <h6 style="color:blue;">5-GUESTS:</h6>
        <hr>
        <p style="color:darkred; margin-left:-40px"><em> Collaborative consumption.</em></p>

      

        
      </div>


      
    </div>

  </div>

{% endblock %}


