{% extends 'co_servings/main.html' %}
{% load static %}

{% block content %}
{% include 'co_servings/status.html' %}
<br>
<div class="row">
	<div class="col-md-4">
		<h5>WEBINVESTORS:</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn primary btn-5m btn-block" href="">Become Webinvestor</a>
			<table class="table table-5m">
				<tr>
					
					<th>Webinvestor's name</th>

					{% for item in project %}
						<tr>
							<td>{{item.webinvestor}}</td>
						</tr>
					{% endfor %}


					<br>
					


				<tr>

					<th>Investment </th>
				</tr>


				{% for items in list %}

					<tr>
						<td>{{item.name}}</td>
					</tr>

				{% endfor %}
					
			</table>
			
				
			
		</div>
		
	</div>


	<div class="col-md-8">
					
		<h5>LAST 5 PRIVATE LIQUIDITY POOLS:</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn primary btn-15m btn-block" href="">Create Private Pool</a>
			
			


		

					
			<div class="row">

						<div class="col">
					
							Liquidity Pool Name:

						  	<br>

							{% for item in liquidity %}
								<tr>
									<td>{{item.name}}</td>
								</tr>
						
							{% endfor %}

						</div>

						<div class="col">
					
							Liquidity Pool Value:
							<br>

							{% for item in liquidity %}
								<tr>
									<td>{{item.price}}</td>
								</tr>

							<br>
							
							{% endfor %}
						</div>

						<div class="col">
					
							Status:
							<br>

							{% for item in liquidity %}
								<tr>
									<td>{{item.status}}</td>
								</tr>
							<br>
							{% endfor %}
						</div>

					</div>
			</div>
				
	
						
					

		</div>
		   		
	</div>
			
</div>	

{% endblock %}
