{% extends 'co_servings/main.html' %}
{% load static %}

{% block content %}
{% include 'co_servings/status.html' %}





<br>
<div class="row">
	

	<div class="col-md-12">
					
		<h5>LAST 5 PRIVATE LIQUIDITY POOLS:</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn primary btn-15m btn-block" href="">Create Private Pool</a>
			
			


		

					
			<div class="row">

						<div class="col">
					
							Type:

						  	<br>

							{% for item in liquidity %}
								<tr>
									<td>{{item.topic}}</td>
								</tr>
							<br>
							{% endfor %}


						</div>



						<div class="col">
					
							Liquidity Pool Name:

						  	<br>

							{% for item in liquidity %}
								<tr>
									<td>{{item.name}}</td>
								</tr>
							<br>
						
							{% endfor %}

						</div>

						<div class="col">
					
							Liquidity Pool Value:
							<br>

							{% for item in liquidity %}
								<tr>
									<td>{{item.price}}</td>
								</tr>

							<br>
							
							{% endfor %}
						</div>

						<div class="col">
					
							Status:
							<br>

							{% for item in liquidity %}
								<tr>
									<td>{{item.status}}</td>
								</tr>
							<br>
							{% endfor %}
						</div>

						<div class="col">
					
							SMART CONTRACTS:
							<p>Between:</p>
							<p>Liquidity pools jurical status</p>
							<p>Liquidity pools and Authority to transfer funds</p>
							<p>Tenants and Liquidity pools</p>
							<p>Guests and Liquidity pools</p>
						</div>



					</div>
			</div>
				
	
						
					

		</div>
		   		
	</div>
			
</div>	

{% endblock %}
