{% extends 'co_servings/main.html' %}
{% load static %}

{% block content %}
{% include 'co_servings/status.html' %}


<div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="home.html">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="how.html">How it works</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="projects.html">Projects</a>
          
      </li>
      <li class="nav-item">
        <a class="nav-link" href="liquididypools.html">Liquidity Pools</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="development.html">Development</a>
      </li>
      
    </ul>
  </div>


<br>
<div class="row">
	

	<div class="col-md-12">
					
		<h5>LAST 5 PRIVATE LIQUIDITY POOLS:</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn primary btn-15m btn-block" href="">Create Private Pool</a>
			
			


		

					
			<div class="row">

						<div class="col">
					
							Type:

						  	<br>

							{% for item in liquidity %}
								<tr>
									<td>{{item.topic}}</td>
								</tr>
							<br>
							{% endfor %}


						</div>



						<div class="col">
					
							Liquidity Pool Name:

						  	<br>

							{% for item in liquidity %}
								<tr>
									<td>{{item.name}}</td>
								</tr>
							<br>
						
							{% endfor %}

						</div>

						<div class="col">
					
							Liquidity Pool Value:
							<br>

							{% for item in liquidity %}
								<tr>
									<td>{{item.price}}</td>
								</tr>

							<br>
							
							{% endfor %}
						</div>

						<div class="col">
					
							Status:
							<br>

							{% for item in liquidity %}
								<tr>
									<td>{{item.status}}</td>
								</tr>
							<br>
							{% endfor %}
						</div>

					</div>
			</div>
				
	
						
					

		</div>
		   		
	</div>
			
</div>	

{% endblock %}
