{% load static %}

<!DOCTYPE html>
<html>
<head>
	




	<meta name="viewport" content="width=device-width">

	
    
	<title>CO-SERVING</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	
	
	<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">




</head>
<br>
<body>



	<div class="container">
		{% if messages %}
		  {% for message in messages %}
		 
		  <div class="alert alert-warning alert-dismissible fade show" role="alert">
		  {{ message }}
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		  </button>
		  </div>

		  {% endfor %}
    	{% endif %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">

      <a href="{% url 'guest' %}">
                    
                  <button class="button button4" style="color:blue">Guests</button>    

                </a> 

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Qualifications
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'information2' %}">Membership</a>
          <a class="dropdown-item" href="{% url 'guestrules' %}">Guest Rules</a>
          <a class="dropdown-item" href="{% url 'vaccineprotocol2' %}">Vaccine Protocol</a>
          
        </div>
      </li>

       

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

        Benefits
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="{% url 'costtrasparency' %}">Cost-Transparency</a>
        <a class="dropdown-item" href="{% url 'tokenprogram2' %}">Token Program</a>
       
        </div>


     </li>

     
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	

        Downloads
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'venue' %}">Long Term Contracts</a>
          <a class="dropdown-item" href="{% url 'liquidity' %}">Smart Contract</a>
          
        </div>
      </li> 



     
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'guestopportunity' %}">5-Guest Opportunities</a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="{% url 'ourcommunity2' %}">Our Community</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

         Tenant's Activities
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'payment2' %}">Payment</a>
          <a class="dropdown-item" href="{% url 'overview2' %}">Overview</a>
        </div>
      </li>

     


      
      {% if user.is_authenticated %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
      </li>
      {% else %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'register_user' %}">Register</a>
      </li>

       <li class="nav-item active">
        <a class="nav-link" href="{% url 'login' %}">Login</a>
      </li>
      {% endif %}
      
    </ul>
  </div>
</nav>

<br>
<br>
<br>
<br>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


<p>hello page overview 2></p>
<h6>copyright@2021. impressum : marco carrano, viktoria luise platz 12, Berlin, 10777, Germany, mrc.carrano@gmail.com</h6>