{% extends 'co_servings/main.html' %}
{% load static %}


{% block content %}
<style type="text/css">


  <style type="text/css">
.button {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

.button1 {border-radius: 2px;}
.button2 {border-radius: 4px;}
.button3 {border-radius: 8px;}
.button4 {border-radius: 12px;}
.button5 {border-radius: 50%;}


}



h6 {
    color:black;
  }


  h1 {
    color: black;
  }
 
  h4, h5, td {
    color: black;
  }


  
</style>







	



<body class="bg-image"
		style="background-image: url('/static/images/marco2.jpg');
		background-repeat: no-repeat;
		background-size:100%;
		color:darkgrey;
		height:550px;">




	<div class="container">
			<h4 style="margin-top:-10px; color: black;"><strong>Welcome to   property owners working area online:</strong>
</h4>
      <h4 style="margin-top:-10px; color: red;"> Owners upload property information with desing-build projects. 
</h4>
															
	</div>

  <br>
  <br>

 <div class="container">

    <div class="row">


        <div class="col">

        <h5 style="color:red;">Upload property:</h5>
        <hr>
        <p style="color:black;"><em><strong>Owner Commits her property to a development.</strong></em></p>
      

       

        <h5 style="color:red;">Building Selection:</h5>
        <hr>
        <p style="color:black;"><em><strong>Owner Selects a design-build project from catalogue in  menu to develop the property.</stong></em></p>
        </div>
   
  </div>
  <br>



<br>
<br>










{% endblock %}





</body>