{% extends 'co_servings/main.html' %}
{% load static %}


{% block content %}
<style type="text/css">


  <style type="text/css">
.button {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

.button1 {border-radius: 2px;}
.button2 {border-radius: 4px;}
.button3 {border-radius: 8px;}
.button4 {border-radius: 12px;}
.button5 {border-radius: 50%;}


}



h6 {
    color:black;
  }


  h1 {
    color: black;
  }
 
  h4, h5, td {
    color: black;
  }


  
</style>







	



<body class="bg-image"
		style="background-image: url('/static/images/marco.jpg.jpg');
		background-repeat: no-repeat;
		background-size:100%;
		color:darkgrey;
    opacity:100%;
		height:550px;">




	<div class="container">
			<h4 style="margin-top:-10px; color: black;"><strong>Welcome to   property owners working area online:</strong>
</h4>
      <h4 style="margin-top:-10px; color: black;"> Owners create  projects.<u> In this section:</u> Owners Commit their properties to  developments. Owners Select  design-build projects from "catalogue" in  menu to develop  properties.
</h4>
															
	</div>

  <br>
  <br>

 
  <br>



<br>
<br>










{% endblock %}





</body>