{% extends 'co_servings/main.html' %}

{% load static %}



{% block content %}
<style type="text/css">
.button {

  margin: 4px 2px;
}

.button1 {border-radius: 2px;}
.button2 {border-radius: 4px;}
.button3 {border-radius: 8px;}
.button4 {border-radius: 12px;}
.button5 {border-radius: 50%;}


}



h6 {
    color:black;
  }


  h1 {
    color: black;

  }
 
  h4, h5, td {
    color: black;
  }
 


 


  
</style>








<h5 style="margin-left: 20px; margin-top:-40px;"><strong>Step-D</strong>: Deployed Hybrid Smart Contracts authomatically gets executed  after all stackholders commit to agreements:</h2>

<hr>





<div class="container">


    <div class="row">
  

        <div class="col">

      

          <h2 style="color:grey;">Commit 1</h2><h4 style="color:blue;">Governments:</h4> <h3> Transfer funds to collateralize Investors.</h3> 

          <p> as per Agreement Condition-1<P>

          <br>
          

        </div>

        <br>
  


      <div class="col">

      

          <h2 style="color:grey;">Commit 2</h2><h4 style="color:blue;">Investors :</h4> <h3>   Transfer funds to create liquidity pool.</h3> 
           <p> as per Agreement Condition-2<P>
          <br>

      </div>

      <br>
      <br>


      <div class="col">


          <h2 style="color:grey;">Commit 3</h2><h4 style="color:blue;">  Property Owners:</h4> <h3>   Design-Build   the Project</h3>
            <p> as per Agreement Condition-3.1, 3.2, 3.3, 3.4<P>
      

         
          
        </div>
  
        <br>
      <br>
</div>


<div class="container">

      <div class="row">


        
      

        

      
  
  

      <div class="col">

          <h2 style="color:grey; margin-left: -10px;">Commit 4</h2><h4 style="color:blue; ">Tenants:</h4>  <h3> Manage the Project</h3>
          
        

          <p> as per Agreement Condition-4.1, 4.2<P>
          
      </div>


      
      

     
      

    </div>
</div>


<a href="{% url 'development1' %}">
                    
                  <button class="button button4" style="background-color:#795548; color:white; margin-left: 510px; padding-right: 10px;  margin-bottom: 30px;">  Step-A Uploads</button> 

<br>


<a href="{% url 'white' %}">
                    
                  <button class="button button4" style="background-color:#795548; color:white; margin-left: 505px; padding-right: 10px;  margin-bottom: 30px;"> Step-B S-Actions</button> 

                  <br>

<a href="{% url 'how' %}">
                    
                  <button class="button button4" style="background-color:#795548; color:white; margin-left: 500px; padding-right: 10px;  margin-bottom: 30px;">  Step-C Blockchain </button> 

<br>


<br>
<br>
<br>
<br>


  
{% endblock %}
