{% extends 'co_servings/main.html' %}
{% load static %}
{% block content %}
<style type="text/css">
.button {

  margin: 4px 2px;
}

.button1 {border-radius: 2px;}
.button2 {border-radius: 4px;}
.button3 {border-radius: 8px;}
.button4 {border-radius: 12px;}
.button5 {border-radius: 50%;}


}



h6 {
    color:black;
  }


  h1 {
    color: black;

  }
 
  h4, h5, td {
    color: black;
  }
 


 


  
</style>





<div class="container">
	

	 <div class="row">

	  	<div class="col">

		<h4 style="color:green;">fbm-2</h4>
             <br>
        <h5 style="color:blue;"> "Entrance Level :"</h5> <h5>  4 flex unit </h5>



          <img src="{% static 'images/entrance.PNG' %}"
            style="object-fit:contain;
            width:200px;
            height:300px;
            border: solid 3px #ccc"/>


        <br>
        <br>

    	</div>


    	<div class="col">

    		<br>
    		<br>
    		<br>


        <h5 style="color:blue;"> "Second Level :"</h5> <h5>  4 apt units </h5>



          <img src="{% static 'images/second.png' %}"
            style="object-fit:contain;
            width:200px;
            height:300px;
            border: solid 3px #ccc"/>


        <br>
        <br>

    	</div>

    	

     	<div class="col">

    		<br>
    		<br>
    		<br>

        <h5 style="color:blue;"> "First Level :"</h5> <h5>  0 unit </h5>



        




				<a href="{% url 'buildings' %}">
                    
                  <button class="button button4">Buildings</button>    

                </a> 
         	<br>
            <br>

    	</div>

    </div>

</div>

<hr>


<div class="container">
    

     <div class="row">

        <div class="col">

        <h4 style="color:green;">fbm-3</h4>
        <br>
        <h5 style="color:blue;"> "Entrance Level :"</h5> <h5>  4 flex units </h5>



          <img src="{% static 'images/entrance.PNG' %}"
            style="object-fit:contain;
            width:200px;
            height:300px;
            border: solid 3px #ccc"/>


        <br>
        <br>

        </div>


        <div class="col">

            <br>
            <br>
            <br>

        <h5 style="color:blue;"> "Second Level :"</h5> <h5>  8 apt units </h5>



          <img src="{% static 'images/second.png' %}"
            style="object-fit:contain;
            width:200px;
            height:300px;
            border: solid 3px #ccc"/>


        <br>
        <br>
        <br>

        </div>

        <div class="col">

            <br>
            <br>
            <br>

        <h5 style="color:blue;"> "First Level :"</h5> <h5>  4 flex units </h5>



          <img src="{% static 'images/first.PNG' %}"
            style="object-fit:contain;
            width:200px;
            height:300px;
            border: solid 3px #ccc"/>





                <a href="{% url 'buildings' %}">
                    
                  <button class="button button4">Buildings</button>    

                </a> 
            <br>
            <br>

        </div>

    </div>

</div>


<hr>



<div class="container">
    

     <div class="row">

        <div class="col">

        <h4 style="color:green;">fbm-6 </h4>
        <br>
        <h5 style="color:blue;"> "Entrance Level :"</h5> <h5>  4 flex units </h5>



          <img src="{% static 'images/entrance.PNG' %}"
            style="object-fit:contain;
            width:200px;
            height:300px;
            border: solid 3px #ccc"/>


        <br>
        <br>

        </div>


        <div class="col">

            <br>
            <br>
            <br>

        <h5 style="color:blue;"> "Second Level :"</h5> <h5>  12 apt units </h5>



          <img src="{% static 'images/second.png' %}"
            style="object-fit:contain;
            width:200px;
            height:300px;
            border: solid 3px #ccc"/>


        <br>
        <br>

        </div>

        <div class="col">

            <br>
            <br>
            <br>

        <h5 style="color:blue;"> "First Level :"</h5> <h5>  8 flex units </h5>



          <img src="{% static 'images/first.PNG' %}"
            style="object-fit:contain;
            width:200px;
            height:300px;
            border: solid 3px #ccc"/>





                <a href="{% url 'buildings' %}">
                    
                  <button class="button button4">Buildings</button>    

                </a> 
            <br>
            <br>

        </div>

    </div>

</div>




<hr>

<div class="container">
	

	 <div class="row">

	  	<div class="col">

		<h4 style="color:green;">fbm-10</h4>
             <br>
        <h5 style="color:blue;"> "Entrance Level :"</h5> <h5>  8 flex units </h5>



          <img src="{% static 'images/entrance.PNG' %}"
            style="object-fit:contain;
            width:200px;
            height:300px;
            border: solid 3px #ccc"/>


        <br>
        <br>

    	</div>


    	<div class="col">

    		<br>
    		<br>
    		<br>

        <h5 style="color:blue;"> "Second Level :"</h5> <h5>  20 apt units </h5>



          <img src="{% static 'images/second.png' %}"
            style="object-fit:contain;
            width:200px;
            height:300px;
            border: solid 3px #ccc"/>


        <br>
        <br>

    	</div>

    	<div class="col">

    		<br>
    		<br>
    		<br>

        <h5 style="color:blue;"> "First Level :"</h5> <h5>  12 flex units </h5>



          <img src="{% static 'images/first.PNG' %}"
            style="object-fit:contain;
            width:200px;
            height:300px;
            border: solid 3px #ccc"/>





				<a href="{% url 'buildings' %}">
                    
                  <button class="button button4">Buildings</button>    

                </a> 
         	<br>
            <br>

    	</div>

    </div>

</div>


<hr>

<div class="container">
	

	 <div class="row">

	  	<div class="col">

		<h4 style="color:green;">fbm-16</h4>
        <br>
        <h5 style="color:blue;"> "Entrance Level :"</h5> <h5>  12 flex units </h5>



          <img src="{% static 'images/entrance.PNG' %}"
            style="object-fit:contain;
            width:200px;
            height:300px;
            border: solid 3px #ccc"/>


        <br>
        <br>

    	</div>


    	<div class="col">

    		<br>
    		<br>
    		<br>

        <h5 style="color:blue;"> "Second Level :"</h5> <h5>  32 apt units </h5>



          <img src="{% static 'images/second.png' %}"
            style="object-fit:contain;
            width:200px;
            height:300px;
            border: solid 3px #ccc"/>


        <br>
        <br>

    	</div>

    	<div class="col">

    		<br>
    		<br>
    		<br>

        <h5 style="color:blue;"> "First Level :"</h5> <h5>  20 flex units </h5>



          <img src="{% static 'images/first.PNG' %}"
            style="object-fit:contain;
            width:200px;
            height:300px;
            border: solid 3px #ccc"/>





				<a href="{% url 'buildings' %}">
                    
                  <button class="button button4">Buildings</button>    

                </a> 
         	<br>
            <br>

    	</div>

    </div>

</div>


<hr>

{% endblock %}