{% extends 'co_servings/main.html' %}
{% load static %}
{% block content %}


<div class="container">
	

	 <div class="row">

	  	<div class="col">

		<h4 style="color:green;">fbm-6 </h4>
        <br>
        <h5 style="color:blue;"> "Entrance Level :"</h5> <h5>  1 unit </h5>



          <img src="{% static 'images/entrance.PNG' %}"
            style="object-fit:contain;
            width:200px;
            height:300px;
            border: solid 3px #ccc"/>


        <br>
        <br>

    	</div>


    	<div class="col">

    		<br>
    		<br>
    		<br>

        <h5 style="color:blue;"> "Second Level :"</h5> <h5>  12 units </h5>



          <img src="{% static 'images/secondo.PNG' %}"
            style="object-fit:contain;
            width:200px;
            height:300px;
            border: solid 3px #ccc"/>


        <br>
        <br>

    	</div>

    	<div class="col">

    		<br>
    		<br>
    		<br>

        <h5 style="color:blue;"> "First Level :"</h5> <h5>  11 units </h5>



          <img src="{% static 'images/first.PNG' %}"
            style="object-fit:contain;
            width:200px;
            height:300px;
            border: solid 3px #ccc"/>





				<a href="{% url 'buildings' %}">
                    
                  <button class="button button4">Buildings</button>    

                </a> 
         	<br>
            <br>

    	</div>

    </div>

</div>


<hr>

<div class="container">
	

	 <div class="row">

	  	<div class="col">

		<h4 style="color:green;">fbm-3</h4>
        <br>
        <h5 style="color:blue;"> "Entrance Level :"</h5> <h5>  1 unit </h5>



          <img src="{% static 'images/entrance.PNG' %}"
            style="object-fit:contain;
            width:200px;
            height:300px;
            border: solid 3px #ccc"/>


        <br>
        <br>

    	</div>


    	<div class="col">

    		<br>
    		<br>
    		<br>

        <h5 style="color:blue;"> "Second Level :"</h5> <h5>  6 units </h5>



          <img src="{% static 'images/secondo.PNG' %}"
            style="object-fit:contain;
            width:200px;
            height:300px;
            border: solid 3px #ccc"/>


        <br>
        <br>
        <br>

    	</div>

    	<div class="col">

    		<br>
    		<br>
    		<br>

        <h5 style="color:blue;"> "First Level :"</h5> <h5>  5 units </h5>



          <img src="{% static 'images/first.PNG' %}"
            style="object-fit:contain;
            width:200px;
            height:300px;
            border: solid 3px #ccc"/>





				<a href="{% url 'buildings' %}">
                    
                  <button class="button button4">Buildings</button>    

                </a> 
         	<br>
            <br>

    	</div>

    </div>

</div>


<hr>

<div class="container">
	

	 <div class="row">

	  	<div class="col">

		<h4 style="color:green;">fbm-2</h4>
             <br>
        <h5 style="color:blue;"> "Entrance Level :"</h5> <h5>  1 unit </h5>



          <img src="{% static 'images/entrance.PNG' %}"
            style="object-fit:contain;
            width:200px;
            height:300px;
            border: solid 3px #ccc"/>


        <br>
        <br>

    	</div>


    	<div class="col">

    		<br>
    		<br>
    		<br>


        <h5 style="color:blue;"> "Second Level :"</h5> <h5>  4 units </h5>



          <img src="{% static 'images/secondo.PNG' %}"
            style="object-fit:contain;
            width:200px;
            height:300px;
            border: solid 3px #ccc"/>


        <br>
        <br>

    	</div>

    	

     	<div class="col">

    		<br>
    		<br>
    		<br>

        <h5 style="color:blue;"> "First Level :"</h5> <h5>  0 unit </h5>



        




				<a href="{% url 'buildings' %}">
                    
                  <button class="button button4">Buildings</button>    

                </a> 
         	<br>
            <br>

    	</div>

    </div>

</div>


<hr>

<div class="container">
	

	 <div class="row">

	  	<div class="col">

		<h4 style="color:green;">fbm-10</h4>
             <br>
        <h5 style="color:blue;"> "Entrance Level :"</h5> <h5>  2 units </h5>



          <img src="{% static 'images/entrance.PNG' %}"
            style="object-fit:contain;
            width:200px;
            height:300px;
            border: solid 3px #ccc"/>


        <br>
        <br>

    	</div>


    	<div class="col">

    		<br>
    		<br>
    		<br>

        <h5 style="color:blue;"> "Second Level :"</h5> <h5>  18 units </h5>



          <img src="{% static 'images/secondo.PNG' %}"
            style="object-fit:contain;
            width:200px;
            height:300px;
            border: solid 3px #ccc"/>


        <br>
        <br>

    	</div>

    	<div class="col">

    		<br>
    		<br>
    		<br>

        <h5 style="color:blue;"> "First Level :"</h5> <h5>  16 units </h5>



          <img src="{% static 'images/first.PNG' %}"
            style="object-fit:contain;
            width:200px;
            height:300px;
            border: solid 3px #ccc"/>





				<a href="{% url 'buildings' %}">
                    
                  <button class="button button4">Buildings</button>    

                </a> 
         	<br>
            <br>

    	</div>

    </div>

</div>


<hr>

<div class="container">
	

	 <div class="row">

	  	<div class="col">

		<h4 style="color:green;">fbm-16</h4>
        <br>
        <h5 style="color:blue;"> "Entrance Level :"</h5> <h5>  3 units </h5>



          <img src="{% static 'images/entrance.PNG' %}"
            style="object-fit:contain;
            width:200px;
            height:300px;
            border: solid 3px #ccc"/>


        <br>
        <br>

    	</div>


    	<div class="col">

    		<br>
    		<br>
    		<br>

        <h5 style="color:blue;"> "Second Level :"</h5> <h5>  30 units </h5>



          <img src="{% static 'images/secondo.PNG' %}"
            style="object-fit:contain;
            width:200px;
            height:300px;
            border: solid 3px #ccc"/>


        <br>
        <br>

    	</div>

    	<div class="col">

    		<br>
    		<br>
    		<br>

        <h5 style="color:blue;"> "First Level :"</h5> <h5>  27 units </h5>



          <img src="{% static 'images/first.PNG' %}"
            style="object-fit:contain;
            width:200px;
            height:300px;
            border: solid 3px #ccc"/>





				<a href="{% url 'buildings' %}">
                    
                  <button class="button button4">Buildings</button>    

                </a> 
         	<br>
            <br>

    	</div>

    </div>

</div>


<hr>
<h6>copyright@2021</h6>
{% endblock %}