{% extends 'co_servings/main.html' %}

{% load static %}



{% block content %}
<style type="text/css">
.button {

  margin: 4px 2px;
}

.button1 {border-radius: 2px;}
.button2 {border-radius: 4px;}
.button3 {border-radius: 8px;}
.button4 {border-radius: 12px;}
.button5 {border-radius: 50%;}


}



h6 {
    color:black;
  }


  h1 {
    color: black;

  }
 
  h4, h5, td {
    color: black;
  }
 


 


  
</style>

<br>


<div class="container" style="background-color:#bcaaa4; margin-top: -50Px; ">

<h5 style="padding-top: 30px;color:#c0203c"><strong><u>Property Owners data:</u></strong> Property Owners provide Land  and select Design-Build project , from "Catalogue" in  main</h5> <h5 style="padding-top: 30px;color:#c0203c; margin-left: 220px; margin-top: -30px;">menu, for developments.</h5>

<br>

	<div class="container">

   
      <h5 style="margin-left: 30px; color: #c0203c;">* Property Owners  upload in  main menu <strong>Uploads: " Add-Projects"</strong>  development data .</h5>
     
       <h5 style="margin-left: 30px; color:#c0203c; ">* Property Owners check data in "Projects" main menu.</h5>

      
  	  
  	

		<br>	
      													
	</div>

</div>

  <br>

  <div>

   		  <div class="container" style="margin-left: : 100px; margin-bottom: -60px;" >
  
          <a href="{% url 'trading' %}">
                    
                  <button class="button button4" style="background-color:lightblue; color:black; margin-left: 280px; padding: 40px; margin-top: 40px;font-size: x-large;"><strong><em>Property Owners</em></strong> Commitment</button>   
                </a> 
         </div>         
                



{% endblock %}