{% extends 'co_servings/main.html' %}

{% load static %}



{% block content %}


<br>
<br>
<br>

<div class="container" style="background-color:#bcaaa4; ">

<h5 style="padding-top: 30px;color:#c0203c"><strong><u>Owners</u></strong></h5>

<br>

	<div class="container">

	  <h5 style="margin-left: 30px; color: #c0203c;">* Owners provide property details for development.</h5>
      <h5 style="margin-left: 30px; color: #c0203c;">* Owners select Design-Build project, from "Catalogue" in the main menu.</h5>
      <h5 style="margin-left: 30px; color: #c0203c;">* Property and Design-Build  create development. .</h5>
      <h5 style="margin-left: 30px; color: #c0203c;">* Owners  upload in the main menu, after having registered, the development .</h5>
      <h5 style="margin-left: 30px; color: #c0203c;">* They upload it in " Add-Projects".</h5>
  	  <h5 style="margin-left: 30px; color: #c0203c;">* Example Project Application, the following data must be uploaded: </h5>
  	  <h5 style="margin-left: 30px; color: black">  Owner:.../ Property:.../Location:.../Name:.../Category:.../ Building:... </h5>
  	  <h5 style="margin-left: 30px; color:  #c0203c;">* Owners follow the projects developments connecting to  projects working area.</h5>

			
      													
	</div>

  <br>

 
  

   				<a href="{% url 'owner' %}">
                    
                  <button class="button button4" style="background-color:#c0203c; color:white; margin-left: 270px; padding-right: 100px; margin-bottom: 30px;"><strong><em>Owner</em></strong>  click here  to projects working area.</button>    

                </a> 

   
</div>


{% endblock %}