
{% extends 'co_servings/main.html' %}


	{% load static %}



{% block content %}
<style type="text/css">
.button {

  margin: 4px 2px;
}

.button1 {border-radius: 2px;}
.button2 {border-radius: 4px;}
.button3 {border-radius: 8px;}
.button4 {border-radius: 12px;}
.button5 {border-radius: 50%;}


}



h6 {
    color:black;
  }


  h1 {
    color: black;

  }
 
  h4, h5, td {
    color: red;
  }
 


 


  
</style>

		
<h5>PROJECTS:</h5>

			
			

	<div class="container">
	<hr>

	  	<div class="row">

	  		<div class="col" style="color:blue; text-transform:uppercase;">

				<h5 style="color:blue; text-transform:uppercase;">Owner:</h5>
				<br>
			
				
				{% for item in list %}
			
				
					<tr>
						<td>{{item.owner}}</td>
						
					</tr>
					<br>
					
					<hr>
					

					
				{% endfor %}

			

				
				
					{% for i in value %} 
				
					<tr>
						
						<td>{{i.owner}}</td>
					</tr>
				
					<br>
					<hr>
				
					{% endfor %}
				

			</div>



	  		<div class="col" style="text-transform:lowercase;">
				<h5>Property:</h5>
				<br>
				
				{% for item in list %}
				<tr>
					<td>{{item.property_price}}</td>
				</tr>
			
				<br>
				<hr>
				
				{% endfor %}

				{% for i in value %} 
				
					<tr>
						
						<td>{{i.property_price}}</td>
					</tr>
				
					<br>
					<hr>
					
					{% endfor %}
				

			</div>
		

			<div class="col" style=" text-transform:lowercase;">
			   	<h5>Location:</h5>
			   	<br>
			  
			   	{% for item in list %}
			   	<tr>
					<td>{{item.location}}</td>
				</tr>
				
				<br>
				<hr>
				
				{% endfor %}

				{% for i in value %} 
				
					<tr>
						
						<td>{{i.location}}</td>
					</tr>
					
					<br>
					<hr>
					
					{% endfor %}
				

			</div>
			

			


			<div class="col" style="text-transform:lowercase;">
			   	<h5>Category:</h5>
			   	<br>
			   
			   	{% for item in list %}
				<tr>
					<td>{{item.category}}</td>
				</tr>
				
				<br>
				<hr>
				
				{% endfor %}

				{% for i in value %} 
				
					<tr>
						
						<td>{{i.category}}</td>
					</tr>
				
					<br>
					<hr>
					
					{% endfor %}
				

			</div>
			

			<div class="col" style="text-transform:lowercase;">
			   	<h5>Building:</h5>
			   	<br>
			   
			   	{% for item in list %}
				<tr>
					<td>{{item.building}}</td>
				</tr>
				
				<br>
				<hr>
				
				{% endfor %}

				{% for i in value %} 
				
					<tr>
						
						<td>{{i.building}}</td>
					</tr>
					
					<br>
					<hr>
					
					{% endfor %}
				

			</div>
			
			<div class="col" style="text-transform:lowercase;">
			   	<h5>Temp:</h5>
			   	<br>
			   
			   

				{% for i in value %} 
				
					<tr>
						
						<td>{{i.temp}}</td>
					</tr>
					
					<br>
					<hr>
					
					{% endfor %}	
				

			</div>

			
	<hr>
	</div>


	<br />
	<br />


	 <br />
	 <br />
	 <br />

	 		
	  	





{% endblock content %}
