
{% extends 'co_servings/main.html' %}

{% block content %}
	{% load static %}


	

		
<h5>PROJECTS:</h5>

			
			

	<div class="container">
	<hr>

	  	<div class="row">

	  		<div class="col">

				<h5 style="color:blue;">Owner:</h5>
				<br>
			
				
				{% for item in list %}
			
				
					<tr>
						<td>{{item.owner}}</td>
						
					</tr>
					<br>
					
					<hr>
					

					
				{% endfor %}

			

				
				
					{% for i in value %} 
				
					<tr>
						
						<td>{{i.owner}}</td>
					</tr>
				
					<br>
					<hr>
				
					{% endfor %}
				

			</div>



	  		<div class="col">
				<h5>Property:</h5>
				<br>
				
				{% for item in list %}
				<tr>
					<td>{{item.property_price}}</td>
				</tr>
			
				<br>
				<hr>
				
				{% endfor %}

				{% for i in value %} 
				
					<tr>
						
						<td>{{i.property_price}}</td>
					</tr>
				
					<br>
					<hr>
					
					{% endfor %}
				

			</div>
		

			<div class="col">
			   	<h5 style="color:red;">Location:</h5>
			   	<br>
			  
			   	{% for item in list %}
			   	<tr>
					<td>{{item.location}}</td>
				</tr>
				
				<br>
				<hr>
				
				{% endfor %}

				{% for i in value %} 
				
					<tr>
						
						<td>{{i.location}}</td>
					</tr>
					
					<br>
					<hr>
					
					{% endfor %}
				

			</div>
			

			<div class="col">
			   	<h5 style="color:orange;">Name:</h5>
			   	<br>
			
			   	{% for item in list %}
			   	<tr>
					<td>{{item.name}}</td>
				</tr>
			
				<br>
				<hr>
				
				{% endfor %}

				{% for i in value %} 
				
					<tr>
						
						<td>{{i.name}}</td>
					</tr>
					
					<br>
					<hr>
					
					{% endfor %}
				

			</div>


			<div class="col">
			   	<h5>Category:</h5>
			   	<br>
			   
			   	{% for item in list %}
				<tr>
					<td>{{item.category}}</td>
				</tr>
				
				<br>
				<hr>
				
				{% endfor %}

				{% for i in value %} 
				
					<tr>
						
						<td>{{i.category}}</td>
					</tr>
				
					<br>
					<hr>
					
					{% endfor %}
				

			</div>
			

			<div class="col">
			   	<h5 style="color:blue;">Building:</h5>
			   	<br>
			   
			   	{% for item in list %}
				<tr>
					<td>{{item.building}}</td>
				</tr>
				
				<br>
				<hr>
				
				{% endfor %}

				{% for i in value %} 
				
					<tr>
						
						<td>{{i.building}}</td>
					</tr>
					
					<br>
					<hr>
					
					{% endfor %}
				

			</div>
			

			<div class="col">
			   	<h5 style="color:green;">PROJ.cost:</h5>
			   	<br>
			   	{% for item in list %}
				<tr>
					<td>{{item.total_project_price}}</td>
				</tr>
				
				<br>
				<hr>
				
				{% endfor %}
				
				{% for i in value %} 
				
					<tr>
						
						<td>{{i.total_project_price}}</td>
					</tr>
					
					<br>
					<hr>
					
					{% endfor %}
				

			</div>


			
	   	</div>
	<hr>
	</div>


	<br />
	<br />


	 <br />
	 <br />
	 <br />

	 		
	  	





{% endblock content %}