{% extends 'co_servings/main.html' %}

{% block content %}

<div class="row">
	<div class="col-md">
		
		<div class="card card-body">
			 <h5>PROJECTS:</h5>
		</div>
		<div class="card card-body">
			
			<table class="table table-5m">
				<tr>
					<th>Property Price</th>
					<th>Location</th>
					<th>Dimension</th>
					<th>Category</th>
					<th>Building</th>
					<th>Typology</th>
					<th>Total Poject Price</th>
				</tr>

				
					
			</table>
				
			
		</div>
		
	</div>

</div>


{% endblock %}