{% extends 'co_servings/main.html' %}
{% load static %}
{% block content %}


<div class="container">
	

	 <div class="row">

	  	<div class="col">

		<h3 style="color:green;">fbm-6/units</h3><h5 style="color:blue;"> "Entrance Level :"</h5> <h5>  1 unit </h5>



          <img src="{% static 'images/entrance.PNG' %}"
            style="object-fit:contain;
            width:200px;
            height:300px;
            border: solid 3px #ccc"/>


        <br>
        <br>

    	</div>
    </div>
</div>


<hr>

{% endblock %}