<br>

<div class="row" style="margin-top: -60px;">
	<div class="col">
		<div class="col-ml">
			<div class="card text-center text-black mb-3" id="total-pools">
				<div class="card header">
					<h5 class="card-title">Total Private Pools</h5>
				</div>
				<div class="card-body">
					<h3 class="card-title">{{starting}}</h3>
				</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-ml">
			<div class="card text-center text-black mb-3" id="filling-up_pools">
				<div class="card header">
					<h5 class="card-title">Filling up Pools</h5>
				</div>
				<div class="card-body">
					<h3 class="card-title">{{filling_up}}</h3>
				</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-ml">
			<div class="card text-center text-black mb-3" id="completed-pools">
				<div class="card header">
					<h5 class="card-title">Completed Pools</h5>
				</div>
				<div class="card-body">
					<h3 class="card-title">{{completed}}</h3>
				</div>
			</div>
		</div>
	</div>

</div>