{% extends 'co_servings/main.html' %}

{% load static %}



{% block content %}


<br>
<div class="container" style="background-color:#bcaaa4; ">

<h5 style="margin-left: 0px; color:#273571; padding-top: 30px;"><strong><u>Sub-Tenants/Tourists' (Users) </u></strong></h5>


<br>




<div class="container">
      

      
      <h5 style="margin-left: 30px; color: #273571;">* Sub-Tenants and Tourists  rent a Short-Term accomodation  as per
     the following transparent scheme.</h5>

        <img src="{% static 'images/flex.jpg' %}"
            style=";
            width:700px;
            height:400px;
            border: solid 3px #ccc"/>
  	


			

															


<br>
 
  

   				<br>

                <a href="{% url 'guest' %}">
                    
                  <button class="button button4" style="background-color:#273571; color:white;  margin-left: 150px; margin-bottom: 30PX;"><strong><em>Sub-Tenants/Tourists</em></strong> click here  for your best accommodation in town</button>    

                </a> 

                
</div>


 </div>

{% endblock %}