{% extends 'co_servings/main.html' %}

{% load static %}



{% block content %}


<br>
<div class="container" style="background-color:#bcaaa4; ">

<h6 style="margin-left: 0px; color:#273571; padding-top: 30px;"><strong><u>Sub-Tenants/Tourists' (Users) Space</u></strong></h6>


<br>




<div class="container">
      <h4 style="margin-top:-10px; color: black;"><strong>

      <h4 style="margin-top:-10px; color: #273571;"> Users know clearly what they pay for and whom their money goes to.
</h4>
                              
  </div>
  <div class="container" style="margin-left: : 100px" >
  

   				<br>

                <a href="{% url 'guest' %}">
                    
                  <button class="button button4" style="background-color:#273571; color:white;  margin-left: 150px; margin-bottom: 30PX;"><strong><em>Sub-Tenants/Tourists</em></strong> click here  for your best accommodation in town</button>    

                </a> 

                
</div>


 </div>

{% endblock %}