{% extends 'co_servings/main.html' %}

{% load static %}



{% block content %}




<div class="container" style="background-color:#795548; ">

<h5 style="margin-left: 0px;color:#f9a40e; margin-top: 30px;padding-top: 30px;"><strong><u>Tenants</u></strong></h5>



	<div class="container">

      <h5 style="margin-left: 30px; color: #f9a40e;">* Tenants review  Design-Build project, from "Catalogue" in the main menu.</h5>
      <h5 style="margin-left: 30px; color: #f9a40e;">* Tenants render services for User's contracts in exchange of up to 90% rent reduction according
      to the following scheme.</h5>

       <img src="{% static 'images/tenant.jpg' %}"
            style="
            width:700px;
            height:400px;
            border: solid 3px #ccc;
            margin-left: 200px;"/>
  	


			

															
	</div>

  <br>

  
  

   				<a href="{% url 'token' %}">
                    
                  <button class="button button4" style="background-color:#f9a40e; color:white; margin-left: 210px; padding-right: 130px;  margin-bottom: 30px;"><strong><em>Tenant</em></strong>  click here  to find the apartment you deserve</button>    

                </a> 

    </div>

 

</div>

 <br> 
  <br>


{% endblock %}