{% extends 'co_servings/main.html' %}

{% load static %}



{% block content %}

<style type="text/css">
.button {

  margin: 4px 2px;
}

.button1 {border-radius: 2px;}
.button2 {border-radius: 4px;}
.button3 {border-radius: 8px;}
.button4 {border-radius: 12px;}
.button5 {border-radius: 50%;}


}



h6 {
    color:black;
  }


  h1 {
    color: black;

  }
 
  h4, h5, td {
    color: black;
  }
 


 


  
</style>

<h2 style="color:brown;"> Rental Listings </h2>


<div class="container">
  <hr>

      <div class="row">

<div class="col" style=" text-transform:lowercase;">
          <h5>Location:</h5>
          <br>
        
          {% for item in list %}
          <tr>
          <td>{{item.location}}</td>
        </tr>
        
        <br>
        <hr>
        
        {% endfor %}

        {% for i in value %} 
        
          <tr>
            
            <td>{{i.location}}</td>
          </tr>
          
          <br>
          <hr>
          
          {% endfor %}
        

      </div>
      

      


      <div class="col" style="text-transform:lowercase; margin-left: -150px;">
          <h5>Category:</h5>
          <br>
         
          {% for item in list %}
        <tr>
          <td>{{item.category}}</td>
        </tr>
        
        <br>
        <hr>
        
        {% endfor %}

        {% for i in value %} 
        
          <tr>
            
            <td>{{i.category}}</td>
          </tr>
        
          <br>
          <hr>
          
          {% endfor %}
        

      </div>
      

      <div class="col" style="text-transform:lowercase; margin-left: -150px;">
          <h5>Building:</h5>
          <br>
         
          {% for item in list %}
        <tr>
          <td>{{item.building}}</td>
        </tr>
        
        <br>
        <hr>
        
        {% endfor %}

        {% for i in value %} 
        
          <tr>
            
            <td>{{i.building}}</td>
          </tr>
          
          <br>
          <hr>
          
          {% endfor %}
        </div>





      
      <div class="col" style="text-transform:lowercase; margin-left: -150px;">
          <h5>Temp:</h5>
          <br>
         
         

        {% for i in value %} 
        
          <tr>
            
            <td>{{i.temp}}</td>
          </tr>
          
          <br>
          <hr>
          
          {% endfor %}  
        

      </div>

</div>
</div>







<div class="container" style="background-color:#795548; margin-top: -10px;">




	<div class="container">

      <h5 style="margin-left: 30px; color: #f9a40e;">

    

 <a href="https://onedrive.live.com/view.aspx?resid=23B9E6708E88205A!64624&ithint=file%2cxlsx&authkey=!AOE3UJ028qnKI9g">

      <button class="button button4" style="background-color:orange; color:white; margin-left: 60px; margin-top:30px; font-size: 30px; padding: 5px;"><strong>Rent Calculator</strong></button> </a>
  <br>

  <h5 style="margin-left: 0px;color:#f9a40e; margin-top: 0px;padding-top: 30px;">Rent for tenants after reductions and co-servicing incentives, calculated using the attached rent calculator </h5>


  <hr>

      <div class="row">



     <img src="{% static 'images/rent1.PNG' %}"
            style="object-fit:contain;
            width:800px;
            height:600px;
           "/>



      
  </div>

  <hr>

      <div class="row">

     <img src="{% static 'images/rent2.PNG' %}"
            style="object-fit:contain;
            width:800px;
            height:600px;
           "/>
      
  </div>
  <br>


  <hr>

      <div class="row">

     <img src="{% static 'images/rent3.PNG' %}"
            style="object-fit:contain;
            width:800px;
            height:600px;
           "/>
      
  </div>
  <br>
  <hr>

      <div class="row">

     <img src="{% static 'images/rent4.PNG' %}"
            style="object-fit:contain;
            width:800px;
            height:600px;
           "/>
      
  </div>
  <br>

</div>

</div>

<br>

<h5 style="color:brown; margin-top: 40px; margin-left: 10px;"> Tenants' Rent  opportunities: </h5>


<a href="{% url 'design1' %}">
                    
                  <button class="button button4" style="background-color:#795548; color:white; margin-left: padding-right: 10px;  margin-bottom: 30px;">  FBM-2</button>    

                </a> 


<a href="{% url 'design2' %}">
                    
                  <button class="button button4" style="background-color:#795548; color:white; margin-left: 50px; padding-right: 10px;  margin-bottom: 30px;">  FBM-3</button>    

                </a> 

<a href="{% url 'design3' %}">
                    
                  <button class="button button4" style="background-color:#795548; color:white; margin-left: 50px; padding-right: 10px;  margin-bottom: 30px;">  FBM-6</button>    

                </a> 

<a href="{% url 'design4' %}">
                    
                  <button class="button button4" style="background-color:#795548; color:white; margin-left: 50px; padding-right: 10px;  margin-bottom: 30px;">  FBM-10</button>    

                </a> 

<a href="{% url 'design5' %}">
                    
                  <button class="button button4" style="background-color:#795548; color:white; margin-left: 50px; padding-right: 10px;  margin-bottom: 30px;">  FBM-16</button>    

                </a> 

   
         

 <br>
 <div class="container" style="margin-left: : 105px; margin-bottom: -60px;" >
  
          <a href="{% url 'booking' %}">
                    
                  <button class="button button4" style="background-color:brown; color:white; margin-left: 285px; padding: 40px; margin-top: 40px;font-size: x-large;"> Select your Apartment </button>   
                </a> 
          
                
</div> 



<br>


 <div class="container" style="margin-left: : 100px; margin-bottom: -60px;" >
  
          <a href="{% url 'guest' %}">
                    
                  <button class="button button4" style="background-color:darkblue; color:white; margin-left: 280px; padding: 40px; margin-top: 40px;font-size: x-large;"> Hybrid Smart Contracts </button>   
                </a> 
          
                
</div> 



 <br> 
  <br>


{% endblock %}