
{% extends 'co_servings/main.html' %}
{% load static %}


{% block content %}
<style type="text/css">


  <style type="text/css">
.button {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

.button1 {border-radius: 2px;}
.button2 {border-radius: 4px;}
.button3 {border-radius: 8px;}
.button4 {border-radius: 12px;}
.button5 {border-radius: 50%;}


}



h6 {
    color:black;
  }


  h1 {
    color: black;
  }
 
  h4, h5, td {
    color: black;
  }


  
</style>







	



<body class="bg-image"
		style="background-image: url('/static/images/marco2.jpg');
		background-repeat: no-repeat;
		background-size:100%;
		color:darkgrey;
		height:550px;">




	<div class="container">
			<h1 style="margin-top:100px">Welcome to the world’s</h1>
				<h1 style="margin-left: 250px">most innovative</h1>
					<h4 style="margin-left: 430px">online </h4>											
					   <h1 style="margin-left: 500px"> Real Estate rental program</h1>


 	</div>

  <br>

 <a href="https://onedrive.live.com/view.aspx?resid=23B9E6708E88205A!64624&ithint=file%2cxlsx&authkey=!AOE3UJ028qnKI9g"
              style="font-size: xx-large;"
              >click here to Rent Calculator</a>

<br>
<br>
<br>
<br>




<h6 style="margin-left: 0px;color:green">Tenants' navigation bar</h6>

{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">

      <a href="{% url 'token' %}">
                    
                  <button class="button button4" style="color:green">Tenants</button>    

                </a> 

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Qualifications
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'information1' %}">Membership</a>
          <a class="dropdown-item" href="{% url 'hostingrules' %}">Hosting Rules</a>
          <a class="dropdown-item" href="{% url 'vaccineprotocol1' %}">Vaccine Protocol</a>
          
        </div>
      </li>

       

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

        Benefits
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="{% url 'rentreduction' %}">Rent Reduction</a>
        <a class="dropdown-item" href="{% url 'tokenprogram1' %}">Token Program</a>
       
        </div>


     </li>

     
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	

        Downloads
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'venue' %}">Long Term Contracts</a>
          <a class="dropdown-item" href="{% url 'liquidity' %}">Smart Contract</a>
          
        </div>
      </li> 



     
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'rentopportunity' %}">2-Rental Opportunities</a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="{% url 'ourcommunity1' %}">Our Community</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

         Tenant's Activities
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'payment1' %}">Payment</a>
          <a class="dropdown-item" href="{% url 'overview1' %}">Overview</a>
        </div>
      </li>

     


      
      {% if user.is_authenticated %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
      </li>
      {% else %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'register_user' %}">Register</a>
      </li>

       <li class="nav-item active">
        <a class="nav-link" href="{% url 'login' %}">Login</a>
      </li>
      {% endif %}
      
    </ul>
  </div>
</nav>

<br>
<br>
<br>
<br>



<h6>copyright@2021</h6>

{% endblock %}





</body>