{% extends 'co_servings/main.html' %}
{% load static %}


{% block content %}
<style type="text/css">

   <style type="text/css">
.button {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

.button1 {border-radius: 2px;}
.button2 {border-radius: 4px;}
.button3 {border-radius: 8px;}
.button4 {border-radius: 12px;}
.button5 {border-radius: 50%;}


}




h5 {
    color: black;
  }


	h1, h6 {
		color: black;
	}
 
	h4, h5, td {
		color: black;
	}


	
</style>

{% load static %}




<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin-top: -120px">
  
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav" >

       <a href="{% url 'trading' %}">
                    
                  <button class="button button4" style="color:#1f6551; margin-top: 5px; ";>Governments/Investors</button>    

                </a> 

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Qualifications
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'information2' %}">Membership</a>
          <a class="dropdown-item" href="{% url 'investorsrules' %}">Investors Rules</a>
        
        </div>

      </li>
      

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      
        Benefits
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="{% url 'tradingclarity' %}">Trading-clarity</a>
        <a class="dropdown-item" href="{% url 'tokenprogram3' %}">Token program</a>
        
        </div>
      </li>

     
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

        Downloads
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'venue' %}">Short Term Contracts</a>
          <a class="dropdown-item" href="{% url 'liquidity' %}">Smart Contract</a>
          
        </div>
      </li> 



     
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'tradingdesk' %}">6-Trading Desk</a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="{% url 'ourcommunity3' %}">Our Community</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

     Trading 
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'report' %}">Report</a>
          <a class="dropdown-item" href="{% url 'news' %}">News</a>
        </div>
      </li>

     


      
     
      
    </ul>

  </div>
</nav>


<br>
<br>


<body style="background-color: #1f6551">

<div class="container">
      <h4 style="margin-top:-10px; color: white;"><strong>Welcome to the  Trading Desk of  DeFi  Real Estate platform : </strong></h4>
        <br>
      <h5 style="margin-left: 30px; color: white;">* Investors and Governments provide funds to Liquidity Pools using Pancakeswap, accessable directly in  "trading desk" of Governments/Investors menu.</h5>
      <h5 style="margin-left: 30px; color: white;">* To Follow  "Co-Serving  DeFi scheme" .</h5>
      <br> 

<img src="{% static 'images/TOKEN VALUE.jpg' %}"
            style="
            width:500px;
            height:400px;
            border: solid 10px #ccc;
            margin-left: 250px;"/>
      
<br>
<br>

      <h5 style="margin-left: 30px; color: white;">* Investors lend money using AAVA Protocol accessable directly in  "trading desk" of Governments/Investors menu.</h5>

      <h5 style="margin-left: 30px; color: white;">* Governments Colleteralize Investors lending money using Smart Contracts avalable to review  in "Downloads" in Governments/Investors menu</h5>
      <h5 style="margin-left: 30px; color: white;">* Governments and Investors upload Smart Contract in "Add-Liquidity" in "Uploads" main menu. </h5>
      

      <h5 style="margin-left: 30px; color: white;">* Governments and Investors follow projects developments in main menu "Activities". </h5>
      











{% endblock %}

</body>