{% extends 'co_servings/main.html' %}



{% block content %}



      <br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<h5>WebInvestor's name</h5>
			
			{% for item in project %}
				<tr>
					<td>{{item.webinvestor}}</td>
				</tr>
			<br>
			{% endfor %}
			<br>

			<a class="btn btn-outline-info btn-5m btn-block"href="">Update WebInvestor</a>
			<a class="btn btn-outline-danger btn-5m btn-block"href="">Delete WebInvestor</a>
		
		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Contact Information:</h5>
			<hr>
			<th>Email:</th>
			<br>
			{% for item in webinvestors %}
				<tr>
					<td>{{item.email}}</td>
				</tr>
			<br>
			{% endfor %}
		
			<th>Phone:</th>
			<br>
			{% for item in webinvestors %}
				<tr>
					<td>{{item.phone}}</td>
				</tr>
		
			{% endfor %}
		
		</div>
	</div>
	
		<div class="col-md">
			
			<h5>Project:</h5>
			{% load static %}
			
			
			
		</div>
	</div>
</div>
<br>


<div class="row">
	<div class="col-md">
		
			<div class="card-body">
			 	<h5>PROJECTS:</h5>
			</div>
			<div class="card-body">
			
		
<div class="container">
	

	  	<div class="container">
	

	  	<div class="row">

	  		<div class="col red-box">
				Property:
				<br>
				{% for item in list %}
				<tr>
					<td>{{item.property_price}}</td>
				</tr>
				<br>
				{% endfor %}
			</div>

			<div class="col green-box">
			   	Location:
			   	<br>
			   	{% for item in list %}
			   	<tr>
					<td>{{item.location}}</td>
				</tr>
				<br>
				{% endfor %}
			</div>

			<div class="col red-box">
			   	Dimension:
			   	<br>
			   	{% for item in list %}
			   	<tr>
					<td>{{item.dimension}}</td>
				</tr>
				<br>
				{% endfor %}
			</div>


			<div class="col green-box">
			   	Category:
			   	<br>
			   	{% for item in list %}
				<tr>
					<td>{{item.category}}</td>
				</tr>
				<br>
				{% endfor %}
			</div>

			<div class="col red-box">
			   	Building:
			   	<br>
			   	{% for item in list %}
				<tr>
					<td>{{item.building}}</td>
				</tr>
				<br>
				{% endfor %}
			</div>

			<div class="col green-box">
			   	Liquidity Pool:
			   	<br>
			   	{% for item in list %}
				<tr>
					<td>{{item.total_project_price}}</td>
				</tr>
				<br>
				{% endfor %}
			</div>

	   	</div>

	</div>

{% endblock content %}

