{% extends 'co_servings/main.html' %}

{% block content %}



      <br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<h5>WebInvestor's name</h5>
			<hr>
			<a class="btn btn-outline-info btn-5m btn-block"href="">Update WebInvestor</a>
			<a class="btn btn-outline-danger btn-5m btn-block"href="">Delete WebInvestor</a>
		
		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Contact Information:</h5>
			<hr>
			<p>Email:{{webinvestor.email}}</p>
			<p>Phone:{{webinvestor.phone}}</p>
		
		</div>
	</div>
	<div class="col-md">
		<div class="card card-body">
			<h5>Investment:</h5>
			<hr>
			<h1 style="text-align: center;padding: 10px"></h1> 
		
		</div>
	</div>
</div>
<br>


<div class="row">
	<div class="col-md">
		
		<div class="card card-body">
			 <h5>PROJECTS:</h5>
		</div>
		<div class="card card-body">
			
			<table class="table">
				<tr>
					<th>Total Property Price</th>
					<th>Location</th>
					<th>Dimension</th>
					<th>Category</th>
					<th>Building</th>
					<th>Liquidity Pool Value</th>
				</tr>  

								
				
			</table>
				
		
		
	</div>

</div>

   

{% endblock content %}

