{% extends 'co_servings/main.html' %}

{% load static %}



{% block content %}




<h5>How Co-Serving Works:</h5>
<hr>

<h5 style="color:blue;">"Co-serving provides a platform for long-term tenants and short-term tenants to connect. Allowing people to easily rent out their guestroom to tourists, business travelers, retailers, desk users, exhibitors, and professionals. 
However, Co-serving most exciting industry disruption is happening in the real estate development sector. The platform places pressure on traditional real estate developers to adapt to the financial transparency regulations, imposed by the new impact financial institutions and government services rules. 
 Co-serving serves as comprehensive data collection and structures processes to make data-driven decisions to evenly distribute building profits. This makes it a useful tool for the investors who finance the project, for the tenants who manage the project in exchange of rental reductions, and for the property owners who carry out the projects without non markatable cost. It substitutes the work of developers. It helps early in the development process to find tenants for the projects.  And at the end of the development, co-serving provides hospitality booking services based on transparency. The platform supports existing and new construction projects.
 Co-Serving also has its own token."</h5>
<hr>			
			

	<div class="container">
	

	  	<div class="row">


	  		<div class="col">

				<h5 style="color:blue;">GOVERNMENTS:</h5>
				<hr>
				<p><em> Commit capital to cover Liquidity Pools using (Main navigation bar) dropdown Uploads , item : "Add-Collateral" and add the funds using  AAVE DEFI protocol   </em>
				

				
			</div>

	  		<div class="col">

				<h5 style="color:blue;">INVESTORS:</h5>
				<hr>
				<p><em> Investors commit capital using (Main navigation bar) dropdown Uploads , item : "Add-Liquidity" and add the funds using Pancake Swap platform and Metamask Wallet  directly linked at (Real Estate Exchange navigation bar) item: "Trading Desk"    </em>
				<p>Co-Serving projects use a business model based on Fair Profit's Distribution* (FPD).</p>
				<p>FPD is a "margin scale" that sets the maximum and minimum  return to the investment between  3.5 to 6.5 % compound interest.</p>	

				
			</div>

			

			<div class="col">

				<h5 style="color:blue;">OWNERS:</h5>
				<hr>
				<p><em>Property Owners provide Design-Build  Projects selected in Co-Serving
				Catalogue(available in the navigation bar) using (Main navigation bar) dropdown Uploads, item: "Add-Projects"</em></p>
				<p> The D/B projects include architectural, consultants, approval fees and all construction costs to deliver  turnkey developments.</p> 
				
			</div>

			<div class="col">

				<h5 style="color:blue;">TENANTS:</h5>
				<hr>
				<p><em>Tenants  become Member by using ( Tenants' navigation bar) dropdown Qualification, item: "Membership" to
				have access to benefits offered by  Co-Serving projects.</em></p>

				<p> to meet the minimum qualification necessary to become a memeber,  rules and benefits are available in  Tenants'navigation bar  Qualification, item: "Hosting Rules" </p>

				
			</div>
			
			

			<div class="col">

				<h5 style="color:blue;">GUESTS:</h5>
				<hr>
				<p><em>Guests become Member by using ( Guests' navigation bar) dropdown Qualification, item: "Membership" to
				have access to the transparency process offered by  Co-Serving projects.</em></p>

				<p> to meet the minimum qualification necessary to become a memeber,  rules and benefits are available in  Guests'navigation bar  Qualification, item: "Guest Rules" </p>

				
			</div>


			
		</div>

	</div>


	<br>

	
{% endblock %}
