{% extends 'co_servings/main.html' %}

{% load static %}



{% block content %}




<h5>How Co-Serving Works:</h5>
<hr>

<h5 style="color:blue;">"Co-Serving is a Real Estate Platform  to create projects  without   banking costs, developers' speculative profit, and unnecessary brokerage fees."</h5>
<hr>			
			

	<div class="container">
	

	  	<div class="row">

	  		<div class="col">

				<h5 style="color:blue;">INVESTORS:</h5>
				<hr>
				<p>Governments and Institutional funds
provide investment to create  Private Liquidity Pools (pLP). </p><p>pLPs use  fiat capital  to finance Design/Build (D/B)  
projects for the community.</p><p> Tokens (FBM token) generate a retribution system for the community’s users of the D/B projects.</p>


				
			</div>
			<div class="col">

				<h5 style="color:blue;">PROPERTY OWNERS:</h5>
				<hr>
				<p> P.Os Upload D/B Projects selected in the Co-Serving
				Catalogue.</p>
				<p> The D/B projects include architectural, consultants, approval fees and all construction costs to deliver  turnkey developments.</p> 
				
			</div>

			<div class="col">

				<h5 style="color:blue;">TENANTS:</h5>
				<hr>
				<p>Tenants must accept the ThreeWay Contract rules in order to
				qualify for the benefits offered by  Co-Serving projects.</p>
				<p>ThreeWay Contract rules and benefits are available when clicking the
				Co-Serving Token in the Home page. </p>

				
			</div>
			
			<div class="col">

				<h5 style="color:blue;">FPD:</h5>
				<hr>
				<p>D/B projects use a business model based on Fair Profit's Distribution* (FPD).</p><p> FPD revenues return the capital invested + interest into the pLP.</p>
<p>*(FPD
 is a "margin scale" that sets the maximum and minimum  profit of  D/B projects' activities:
For example: 
Interest Fiat capital: 3.5 to 6.5 %)</p>


				
			</div>
		</div>

	</div>


	<br>
	<br>
	<br>

{% endblock %}
