{% extends 'co_servings/main.html' %}

{% load static %}



{% block content %}




<h5>How Co-Serving Works:</h5>
<hr>

<h5 style="color:blue;">"Co-serving is a platform to optimize real estate developments.</h5>
<h5 style="color:blue;">"It Combines web technology with urban planning to address the  concerns of real estate development stakeholders :</h5>
	
<hr>			
			

	<div class="container">
	

	  	<div class="row">


	  		<div class="col">

				<h5 style="color:blue;">GOVERNMENTS:</h5>
				<hr>
				<p><em> Gentrification </em>
				

				
			</div>

	  		<div class="col">

				<h5 style="color:blue;">INVESTORS:</h5>
				<hr>
				<p><em> Real estate market volatility </em>
				
				
			</div>

			

			<div class="col">

				<h5 style="color:blue;">PROPERTY OWNERS:</h5>
				<hr>
				<p><em>Downturn in property value</em></p>
			
			</div>

			<div class="col">

				<h5 style="color:blue;">TENANTS:</h5>
				<hr>
				<p><em>Contain the rent budget to achieve financial security and feel socially integrated.</em></p>

			

				
			</div>
			
			

			<div class="col">

				<h5 style="color:blue;">GUESTS:</h5>
				<hr>
				<p><em>Practice collaborative consumption.</em></p>

			

				
			</div>


			
		</div>

	</div>


	<br>

	
{% endblock %}
